*.o
.*.swp
*.pyc
.buildpath
SD/*.xz
lib/librgbmatrix.so
src/fpp
src/fppmm
src/fppd
src/fppversion.c
src/pru/*.bin
src/util/seqdump
src/Makefile.local
cscope.out
tags
pixelnetDMX
schedule
universes
fppdLog.txt
_notes
www/.htpasswd
www/.config.php
external/rasclock/modules.order
external/rasclock/Module.symvers
external/rasclock/rtc-pcf2127a.*
external/rasclock/.rtc-pcf2127a.*
external/rasclock/.tmp_versions/*
plugins/
.idea/
._*
.DS_Store
