*.o
.*.swp
src/fpp
src/fppmm
src/fppd
cscope.out
tags
pixelnetDMX
schedule
universes
fppdLog.txt
_notes
external/rasclock/modules.order
external/rasclock/Module.symvers
external/rasclock/rtc-pcf2127a.*
external/rasclock/.rtc-pcf2127a.*
external/rasclock/.tmp_versions/*
