.header {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    box-shadow: 0 1px 2px rgba(black, .15);
    .page-meta {
        margin:  0 0 1rem;
    }
    .page-title {
        margin: 0;  
        font-size: 2rem;
        font-weight: 300;

    }
    
    
    @include breakpoint($iphone6-ls) {
        .control-buttons {
            text-align: center;
        }
    }
    @include breakpoint($iphone6-ls-min) {
        flex-direction: row;
        justify-content: space-between;
        .page-meta {
            margin: 0;
        }

        .button {
             margin-bottom: 0;
        }
    }
}