.table {
    margin-top: 5px;
    thead {
        tr {
            th {
                text-transform: uppercase;
                font-weight: 600;
                font-family:'Montserrat';
                font-size: 13px;
                padding-top: 14px;
                padding-bottom: 14px;
                vertical-align: middle;
                border-bottom: 2px solid $color-master-light;
                border-top: 0;
                color:lighten($color-master-dark, 25%);
                &[class*='sorting_'] {
                    color:$color-master-dark;
                }
                &:first-child {
                    padding-left: 18px !important;
                }
                &:last-child {
                    text-align: right;
                    padding-left: 0 !important;
                    padding-right: 18px !important;
                }
                .btn {
                    margin-top: -20px;
                    margin-bottom: -20px;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                background: #fff;
                border-bottom: 1px solid lighten($color-master-light, 10%);
                border-top: 0px;
                padding:20px;
                font-size: 13.5px;
                .btn {
                    background:lighten($color-master-dark, 7%);
                    display: inline-block;
                    margin: 5px;
                    border-radius: 4px;
                    padding: 5px;
                    color: #62605a !important;
                    &:hover {
                        background:lighten($color-master-dark, 15%);
                    }
                }
                &[class*='sorting_'] {
                    color:#000;
                }
                &:last-child {
                    text-align: right;
                }
            }
            &.selected td {
                background: $color-warning-lighter;
            }
        }
    }
    &.table-sm {
        thead,tbody {
            th,
              td {
                padding: .3rem;
              }
        }
    }
    &.table-hover {
        tbody {
            tr {
                &:hover td {
                    background: $color-complete-lighter !important;
                }
                &.selected:hover td{
                    background: $color-warning-lighter !important;
                }
            }
        }
    }
    &.table-striped {
        tbody {
            tr {
                td {
                    /*padding: 19px;*/
                    background: $body-background; // !important;
                }
                &:nth-child(2n+1) td {
                    background: #fff; // !important;
                }
            }
        }
    }
    &.table-condensed {
        table-layout: fixed;
        thead {
            tr {
                th {
                    padding-left: 20px;
                    padding-right: 20px;
                }
            }
        }
        tbody {
            tr {
                td {
                    padding-top: 12px;
                    padding-bottom: 12px;
                }
            }
        }
        thead tr th, tbody tr td, tbody tr td * {
            white-space: nowrap;
            vertical-align: middle;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &.table-detailed {
            & > tbody > tr {
                &.shown {
                    & > td {
                        background: $color-warning-lighter;
                        &:first-child:before {
                            content:"\f078";
                            display: inline-block;
                            margin-right: 8px;
                            font-family: 'FontAwesome';
                        }
                    }
                    & + tr {
                        & > td {
                            background: lighten($body-background, 40%);
                            padding: 0px 40px;
                            .table-inline{
                                background: transparent;
                                tr,td{
                                background: transparent;
                                font-weight: 600;
                                }
                            }
                        }
                    }
                }
                & > td {
                    &:hover {
                        cursor: pointer;
                    }
                    &:first-child:before {
                        content:"\f054";
                        display: inline-block;
                        margin-right: 8px;
                        font-family: 'FontAwesome';
                    }
                }
            }
            .table-inline {
                td {
                    border: none;
                    text-align: left;
                    &:last-child {
                        text-align: right;
                    }
                }
            }
        }
    }
    &.table-borderless{
        & > tbody{
            & > tr{
                & > td{
                    border-bottom: 0px;
                }
            }
        }
    }
}