.rounded {
    border-radius: 500px;
}

.text-xs {
    font-size: .75rem
}

.text-sm {
    font-size: .8rem
}

.text-md {
    font-size: 1.125rem
}

.text-lg {
    font-size: 1.5rem
}

.text-2x {
    font-size: 2em
}

.text-3x {
    font-size: 3em
}

.text-4x {
    font-size: 4em
}

.semi-bold {
    font-weight: 500;
}