@import "breakpoint.scss";
@import "node_modules/bootstrap/scss/_mixins.scss";

@function isitlight($color, $yes: #000, $no: #fff, $threshold: 60%) {
  @if (lightness($color) > $threshold) {
    @return $yes;
  }
  @else {
    @return $no;
  }
}


@mixin vertical-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin button-disabled() {
  opacity: $button-opacity-disabled;
  pointer-events: none;
}

@mixin gradient-button($start-color: #f8f8f8, $end-color: #eaeaea ) {
 
      border-radius: 2px;
      transition: background 0.35s, box-shadow 0.15s;
      border: 1px solid darken($end-color, 15%);
      color: isitlight($end-color, #666, #ddd); //scale-color($end-color, $lightness: 25%);
      background: linear-gradient(to bottom, $start-color, $end-color 100%);
      text-shadow: 0 1px 0 rgba(white, .4);
      &:active {
        box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
      }
    
}