SetEnvIf LOCAL_PROTECT 1 PROTECTED

AuthUserFile /home/fpp/media/config/.htpasswd
AuthType Basic
AuthName "Falcon Player"

<RequireAny>
    <RequireAll>
        # If parent is not protected - allow access
        Require not env PROTECTED
        Require all granted
    </RequireAll>
    <RequireAll>
        # If parent is protected & request comes from local - allow access
       Require env PROTECTED
       Require local
    </RequireAll>
    <RequireAll>
        # If user is authenticated - allow access
        Require valid-user
    </RequireAll>
</RequireAny>

RewriteEngine on

RewriteBase /api/

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

RewriteRule ^fppd/(.*)$  "http://localhost:32322/fppd/$1"  [P]
RewriteRule ^overlays/(.*)$  "http://localhost:32322/overlays/$1"  [P]
RewriteRule ^models(.*)$  "http://localhost:32322/models$1"  [P]
RewriteRule ^commands(.*)$  "http://localhost:32322/commands$1"  [P]
RewriteRule ^command(.*)$  "http://localhost:32322/command$1"  [P]
RewriteRule ^player(.*)$  "http://localhost:32322/player$1"  [P]
RewriteRule ^gpio(.*)$  "http://localhost:32322/gpio$1"  [P]
RewriteRule ^plugin-apis/(.*)$  "http://localhost:32322/$1"  [P]
RewriteRule ^index.php - [L,NC]
RewriteRule ^help ../apihelp.php [R=301,L,NC]
RewriteRule ^help/.* ../apihelp.php [R=301,L,NC]
RewriteRule ^endpoints.json - [L,NC]
RewriteRule ^(.*)$   /api/index.php?uri=/$1    [NC,L,QSA,B]

Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Methods "GET,POST,OPTIONS,DELETE,PUT"
