<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    backupGlobals="false"
>
    <testsuites>
        <testsuite name="FPP Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
