$name: "sidenav";

@include bem-block($name) {
    background-color: $red-40;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: rem(9px) rem(20px) rem(6px);

    height: rem(68px);

    @include bem-element("brandname") {
        @include adjust-font-size-to(22px, 30px);
        font-weight: 600;
        color: $white;
        text-transform: uppercase;
    }

    @include bem-element("brandversion") {
        @include adjust-font-size-to(12px, 17px);
        color: $white;
        font-weight: 600;
        text-transform: uppercase;
    }

    @include bem-element("brandlogo") {
        align-self: center;
        width: rem(80px);
        opacity: .3;
    }

    @include bem-element("brandlogoimage") {
        height: auto;
        max-width: 100%;
    }

    @include bem-element("toggle") {
        background: #33CABB url("../assets/views/components/sidenav/images/menu-toggle--open.png") center center no-repeat;
        background-size: rem(18px);
        display: block;
        position: absolute;
        top: rem(3px);
        right: rem(-30px);
        width: rem(30px);
        height: rem(30px);
        border: 0;
        text-indent: rem(-9999px);
        padding: rem(15px);
        outline: none;
    }

    @include bem-element("toggle", $pseudo-class: "hover") {
        cursor: pointer;
    }

    @include bem-element("toggle", $modifier: "close") {
        background-image: url("../assets/views/components/sidenav/images/menu-toggle--close.png") center center no-repeat;
        background-size: rem(18px);
    }
}

@include bem-block($name, $media: "tablet") {
    @include bem-element("toggle") {
        display: none;
    }
}
