{% extends 'components/page/page.html.twig' %}

{% set name = 'dashboard' %}
{% set page_modifiers = [name] %}
{% set title = 'Dashboard' %}

{% block body %}
    <div class="{{ render_element_classes('page', 'centered_block') }}">
        <header class="{{ render_element_classes('page', 'header') }}">
            <h1 class="{{ render_element_classes('page', 'title') }}">Dashboard</h1>
            <h2 class="{{ render_element_classes('page', 'subtitle') }}">An overview of your current Falcon Player
                setup</h2>
        </header>
    </div>
{% endblock %}
