$name: "page";

@include bem-block($name) {
    background-color: $almost-white;
    display: flex; // create flex fallback
    flex-wrap: wrap;

    display: grid;
    grid-template-rows:     1fr 40px;
    grid-template-columns:  1fr;
    grid-template-areas:  "main"
                          "footer";

    @include bem-element("row") {
        margin-left: auto;
        margin-right: auto;
        padding-left: rem(16px);
        padding-right: rem(16px);
        width: 100%;
    }

    @include bem-element("header") {
        margin-bottom: rem(35px);
    }

    @include bem-element("title") {
        @include adjust-font-size-to(38px, 45px);
        color: $bluegray-70;
        font-weight: 400;
        text-transform: uppercase;
    }

    @include bem-element("subtitle") {
        @include adjust-font-size-to(16px, 22px);
        color: $bluegray-40;
        font-weight: 400;
    }

    @include bem-element("sidenav") {
        position: absolute;
        left: rem(-340px);
        top: 0;
        background-color: $blue-50;
        flex-basis: rem(340px);
        width: rem(340px);
        height: 100vh;
        transition: left ease-in-out 0.5s;
    }

    @include bem-element("sidenav", $modifier: "open") {
        left: 0;
    }

    @include bem-element("main") {
        grid-area: main;
        flex: 1;
        margin: rem(30px) rem(30px) rem(15px);
    }

    @include bem-element("footer") {
        @include adjust-font-size-to(14px);
        grid-area: footer;
        flex-basis: 100%;
        text-align: right;
        padding-right: rem(15px);
        font-weight: 600;
    }

    @include bem-element("footer-link") {
        @include adjust-font-size-to(15px);
        font-weight: 400;
    }
}

@include bem-block($name, $media: "tablet") {
    grid-template-columns:  rem(370px) 1fr;
    grid-template-areas:  "sidenav main"
                          "sidenav footer";

    @include bem-element("row") {
        max-width: map-get($breakpoints, "tablet");
    }

    @include bem-element("sidenav") {
        display: block;
        grid-area: sidenav;
        position: initial;
        left: rem(-370px);
        flex-basis: rem(370px);
        width: rem(370px);
    }

    @include bem-element("main") {
        margin-left: rem(50px);
    }
}

@include bem-block($name, $media: "desktop") {
    @include bem-element("row") {
        max-width: map-get($breakpoints, "desktop");
    }
}

@include bem-block($name, $media: "large-desktop") {
    @include bem-element("row") {
        max-width: map-get($breakpoints, "large-desktop");
    }
}

/** include pages here **/
