/dts-v1/;
/plugin/;

/* Reserve 4M DDR memory for the pixel buffers */
&{/chosen} {
        overlays {
                fpp-reserved-memory = "FPP_RESERVED_MEMORY";
        };
};

&reserved_memory {
		#address-cells = <2>;
		#size-cells = <2>;
		fpp_reserved: fpp_reserved@8f000000 {
			reg = <0x00 0x8f000000 0x00 0x00400000>;
		};
};

&main_uart1 {
	status = "ok";
};
&main_uart2 {
	status = "ok";
};
&main_uart3 {
	status = "ok";
};
&main_uart4 {
	status = "ok";
};
&main_uart5 {
	status = "ok";
};
