$base-font-size: 16px;
$font-path: "../fonts";
$default-padding: 16px;
$default-gutter: $default-padding;
$default-border-radius: 4px;

$breakpoints: (
    mobile: 0,
    tablet: 768px,
    desktop: 992px,
    large-desktop: 1200px,
) !default;

$bluegray-70: #4d5259;
$bluegray-40: #6f7681;

$blue-50: #3f4a59;

$red-40: #da5b6f;

$white: #fff;
$black: #000;

$text-color: #444;
$primary-color: #33cabb;
$secondary-color: $blue-50;
$almost-white: #f5f6fa;
