{#
name: Components / inputfield
description: |
  Render the template code you've just created

  - Data:
    - 'value': (string)

  - Options:
    - 'modifiers': (array) []
    - 'class': (string) null
variants:
  0:
    name: 'Default'
    twig: |
      {% from 'components/inputfield/inputfield.html.twig' import inputfield %}
      {{ inputfield({
          'value': 'Put value here',
        }) }}
    styles: Views/components/inputfield/inputfield.scss
#}
{% macro inputfield(data, options) %}
    {% set name = 'inputfield' %}

    {% set defaults = {
        'class': null,
        'modifiers': [],
    } %}

    {% set options = merge_component_options(options, defaults) %}
    {% set class = render_classes(name, options.modifiers, options.class) %}

    {% set attrs = {
        'class': class,
        'data-controller': name,
    } %}

    <div {{ render_attrs(attrs) }}>
        {% set input_attrs = {
            'class': render_element_classes(name, 'input'),
            'value': data.value|default(null),
            'data-action': options.data_action|default(null),
        } %}
        <input {{ render_attrs(input_attrs) }}/>
    </div>
{% endmacro %}
