[Unit]
Description=FPP Post Network Setup
After=network.target generic-board-startup.service remote-fs.target
Wants=network.target
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/fpp/src/fppinit postNetwork
StandardOutput=append:/home/fpp/media/logs/fpp_boot.log
StandardError=append:/home/fpp/media/logs/fpp_boot.log

[Install]
WantedBy=multi-user.target
