[Unit]
Description=FPP Post Network Setup
After=network.target generic-board-startup.service remote-fs.target
Wants=network.target
DefaultDependencies=no

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=120
ExecStart=/opt/fpp/src/fppinit postNetwork

[Install]
WantedBy=multi-user.target
