[Unit]
Description=FPP Cape Detection
Documentation=FPP
Before=fpprtc.service fppinit.service network.target multi-user.target apache2.service fppoled.service
Wants=home-fpp-media.mount

[Service]
ExecStart=/opt/fpp/scripts/detect_cape
Type=oneshot

[Install]
WantedBy=default.target
