[Unit]
Description=FPP Cape Detection
DefaultDependencies=no
Documentation=https://falconchristmas.com/forum/
Before=network.service fpprtc.service fppoled.service fppinit.service
After=home-fpp-media.mount

[Service]
ExecStart=/opt/fpp/src/fppcapedetect
Type=oneshot

[Install]
WantedBy=sysinit.target

