[Unit]
Description=FPPd
After=network.target generic-board-startup.service remote-fs.target
Requires=network.target 
DefaultDependencies=no


[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/opt/fpp/scripts/fpp_boot
ExecStop=/opt/fpp/scripts/fppd_stop


[Install]
WantedBy=multi-user.target
