[Unit]
Description=Inialization routines for FPP
DefaultDependencies=no
Before=fpprtc.service fpp_postnetwork.service systemd-networkd.service networking.service networking.target
After=home-fpp-media.mount tmp.mount haveged.service
Wants=home-fpp-media.mount tmp.mount systemd-networkd.service networking.target

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=60
ExecStartPre=-/bin/sh -c "mkdir -p /home/fpp/media/logs; rm -f /home/fpp/media/tmp/cape_detect_done"
ExecStart=/opt/fpp/src/fppinit start
ExecStop=-/bin/sh -c "rm -rf /home/fpp/media/tmp/*"

[Install]
WantedBy=sysinit.target
