[Unit]
Description=FPP OLED Status Display
Documentation=https://falconchristmas.com/forum/
After=fppcapedetect.service
Before=fppinit.service network.target multi-user.target
Wants=network-pre.target home-fpp-media.mount

[Service]
ExecStart=/opt/fpp/scripts/fppoled start
ExecStop=/opt/fpp/scripts/fppoled stop
Type=simple

[Install]
WantedBy=default.target
