[Unit]
Description=FPP OLED Status Display
Documentation=https://falconchristmas.com/forum/
After=fppinit.service
Wants=fppinit.service

[Service]
ExecStart=/opt/fpp/src/fppoled
Type=simple

[Install]
WantedBy=default.target
