[Unit]
Description=FPP RTC Setup
Documentation=https://falconchristmas.com/forum/
After=fppcapedetect.service
Wants=home-fpp-media.mount

[Service]
ExecStart=/opt/fpp/src/fpprtc
Type=oneshot

[Install]
WantedBy=sysinit.target
