[Unit]
Description=FPP RTC Setup
Documentation=FPP
Before=network.target multi-user.target apache2.service
After=fppcapedetect.service
Wants=home-fpp-media.mount

[Service]
ExecStart=/opt/fpp/scripts/piRTC
Type=oneshot

[Install]
WantedBy=default.target
