@font-face {
  font-family: 'Source Sans Pro';
  src: local("SourceSansPro-Light"), url("../fonts/SourceSansPro-Light.ttf") format("truetype");
  font-weight: 300; }

@font-face {
  font-family: 'Source Sans Pro';
  src: local("SourceSansPro-Regular"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
  font-weight: normal; }

@font-face {
  font-family: 'Source Sans Pro';
  src: local("SourceSansPro-SemiBold"), url("../fonts/SourceSansPro-Semibold.ttf") format("truetype");
  font-weight: 600; }

@font-face {
  font-family: 'Source Sans Pro';
  src: local("SourceSansPro-Bold"), url("../fonts/SourceSansPro-Bold.ttf") format("truetype");
  font-weight: 700; }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"); }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0; }

a {
  text-decoration: none;
  color: #4d4d4d;
  transition: color 0.35s; }
  a:hover, a:focus {
    color: #333333;
    text-decoration: none; }

#app {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #f1f1f1;
  color: #666;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 21px; }

.content-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  transition: margin 0.35s; }
  @media (min-width: 769px) {
    .content-wrapper {
      margin-left: 155px; } }
  @media (min-width: 1281px) {
    .content-wrapper {
      margin-left: 200px; } }
  .content-wrapper .content {
    padding: 20px; }

.button {
  display: inline-block;
  border: 0;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
  transition: background 0.25s ease-out;
  vertical-align: middle;
  padding: 0.65em 1em;
  margin: 0 1em 1em 0;
  font-size: 0.9rem;
  border-radius: 0; }

.button {
  font-size: 0.9rem;
  display: inline-block;
  margin: 0 1em 1em 0;
  background: #788B94;
  color: #fff; }
  .button:hover, .button:focus {
    background: #65777f;
    color: #fff; }
  .button[data-popup-toggle]::after {
    border-top-color: #fff; }
  .button.tiny {
    font-size: 0.63rem; }
  .button.small {
    font-size: 0.72rem; }
  .button.large {
    font-size: 1.17rem; }
  .button.expand {
    display: block;
    margin-left: 0;
    margin-right: 0; }
  .button.secondary {
    background: #eaeaea;
    color: #000; }
    .button.secondary:hover, .button.secondary:focus {
      background: #c7c7c7;
      color: #000; }
    .button.secondary[data-popup-toggle]::after {
      border-top-color: #000; }
  .button.success {
    background: #43AC6A;
    color: #fff; }
    .button.success:hover, .button.success:focus {
      background: #39925a;
      color: #fff; }
    .button.success[data-popup-toggle]::after {
      border-top-color: #fff; }
  .button.warning {
    background: #F08A24;
    color: #fff; }
    .button.warning:hover, .button.warning:focus {
      background: #dc750f;
      color: #fff; }
    .button.warning[data-popup-toggle]::after {
      border-top-color: #fff; }
  .button.alert {
    background: #F04124;
    color: #fff; }
    .button.alert:hover, .button.alert:focus {
      background: #dc2c0f;
      color: #fff; }
    .button.alert[data-popup-toggle]::after {
      border-top-color: #fff; }
  .button.info {
    background: #A0D3E8;
    color: #000; }
    .button.info:hover, .button.info:focus {
      background: #71bddd;
      color: #000; }
    .button.info[data-popup-toggle]::after {
      border-top-color: #000; }
  .button.dark {
    background: #232323;
    color: #fff; }
    .button.dark:hover, .button.dark:focus {
      background: #1e1e1e;
      color: #fff; }
    .button.dark[data-popup-toggle]::after {
      border-top-color: #fff; }
  .button.hollow {
    border: 1px solid #788B94;
    background: transparent;
    color: #788B94; }
    .button.hollow:hover, .button.hollow:focus {
      border-color: #9aa8af;
      background: transparent;
      color: #9aa8af; }
    .button.hollow[data-popup-toggle]::after {
      border-top-color: #788B94; }
    .button.hollow.secondary {
      border: 1px solid #eaeaea;
      background: transparent;
      color: #eaeaea; }
      .button.hollow.secondary:hover, .button.hollow.secondary:focus {
        border-color: #efefef;
        background: transparent;
        color: #efefef; }
      .button.hollow.secondary[data-popup-toggle]::after {
        border-top-color: #eaeaea; }
    .button.hollow.success {
      border: 1px solid #43AC6A;
      background: transparent;
      color: #43AC6A; }
      .button.hollow.success:hover, .button.hollow.success:focus {
        border-color: #6dc68e;
        background: transparent;
        color: #6dc68e; }
      .button.hollow.success[data-popup-toggle]::after {
        border-top-color: #43AC6A; }
    .button.hollow.warning {
      border: 1px solid #F08A24;
      background: transparent;
      color: #F08A24; }
      .button.hollow.warning:hover, .button.hollow.warning:focus {
        border-color: #f4a75b;
        background: transparent;
        color: #f4a75b; }
      .button.hollow.warning[data-popup-toggle]::after {
        border-top-color: #F08A24; }
    .button.hollow.alert {
      border: 1px solid #F04124;
      background: transparent;
      color: #F04124; }
      .button.hollow.alert:hover, .button.hollow.alert:focus {
        border-color: #f4715b;
        background: transparent;
        color: #f4715b; }
      .button.hollow.alert[data-popup-toggle]::after {
        border-top-color: #F04124; }
    .button.hollow.info {
      border: 1px solid #A0D3E8;
      background: transparent;
      color: #A0D3E8; }
      .button.hollow.info:hover, .button.hollow.info:focus {
        border-color: #b8deee;
        background: transparent;
        color: #b8deee; }
      .button.hollow.info[data-popup-toggle]::after {
        border-top-color: #A0D3E8; }
    .button.hollow.dark {
      border: 1px solid #232323;
      background: transparent;
      color: #232323; }
      .button.hollow.dark:hover, .button.hollow.dark:focus {
        border-color: #5a5a5a;
        background: transparent;
        color: #5a5a5a; }
      .button.hollow.dark[data-popup-toggle]::after {
        border-top-color: #232323; }
  .button.disabled {
    opacity: 0.5;
    pointer-events: none; }
    .button.disabled.secondary {
      opacity: 0.5;
      pointer-events: none; }
    .button.disabled.success {
      opacity: 0.5;
      pointer-events: none; }
    .button.disabled.warning {
      opacity: 0.5;
      pointer-events: none; }
    .button.disabled.alert {
      opacity: 0.5;
      pointer-events: none; }
    .button.disabled.info {
      opacity: 0.5;
      pointer-events: none; }
    .button.disabled.dark {
      opacity: 0.5;
      pointer-events: none; }

.label-switch {
  border-radius: 22px;
  cursor: pointer;
  display: inline-block;
  height: 22px;
  position: relative;
  width: 42px; }
  .label-switch input[type="checkbox"] {
    display: none; }
    .label-switch input[type="checkbox"] + .checkbox {
      transition: all 0.3s ease;
      background: #e8e8e8;
      border-radius: 22px;
      border: none;
      cursor: pointer;
      height: 22px;
      margin: 0;
      padding: 0;
      position: relative;
      width: 42px;
      z-index: 0; }
      .label-switch input[type="checkbox"] + .checkbox:before {
        position: absolute;
        top: 2px;
        left: 2px;
        -webkit-transform: scale(1);
        transform: scale(1);
        transition: all 0.3s ease;
        background: white;
        border-radius: 22px;
        content: "";
        height: 18px;
        width: 38px;
        z-index: 1; }
      .label-switch input[type="checkbox"] + .checkbox:after {
        position: absolute;
        top: 2px;
        left: 2px;
        height: 18px;
        width: 18px;
        transition: all 0.3s ease;
        background: white;
        border-radius: 18px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
        content: "";
        z-index: 2; }
    .label-switch input[type="checkbox"]:checked + .checkbox {
      background: #43AC6A; }
      .label-switch input[type="checkbox"]:checked + .checkbox:before {
        -webkit-transform: scale(0);
        transform: scale(0); }
      .label-switch input[type="checkbox"]:checked + .checkbox:after {
        left: 22px; }

.box {
  background-color: #fff;
  position: relative;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15); }
  .box.transparent {
    background-color: transparent;
    box-shadow: none; }
  .box-header, .box-body, .box-footer {
    padding: 1rem; }
  .box-header {
    position: relative; }
    .box-header h2,
    .box-header h3,
    .box-header h4 {
      margin: 0;
      font-size: 18px;
      line-height: 1; }
    .box-header h3 {
      font-size: 16px; }
    .box-header h4 {
      font-size: 12px;
      font-weight: 600;
      font-family: "Montserrat", sans-serif;
      text-transform: uppercase; }
    .box-header small {
      display: block;
      margin-top: 4px;
      opacity: .6; }
  .box-divider {
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    margin: 0 16px;
    height: 0; }
  .box-tool {
    position: absolute;
    right: 16px;
    top: 14px; }

.header {
  background: white;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  padding: 20px; }
  .header .page-title {
    margin: 0 0 1rem;
    font-size: 2rem;
    font-weight: 300; }
  @media (max-width: 667px) {
    .header .control-buttons {
      text-align: center; } }
  @media (min-width: 668px) {
    .header {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .header .page-title {
        margin: 0; }
      .header .button {
        margin-bottom: 0; } }

.rounded {
  border-radius: 500px; }

.text-xs {
  font-size: .75rem; }

.text-sm {
  font-size: .8rem; }

.text-md {
  font-size: 1.125rem; }

.text-lg {
  font-size: 1.5rem; }

.text-2x {
  font-size: 2em; }

.text-3x {
  font-size: 3em; }

.text-4x {
  font-size: 4em; }

.semi-bold {
  font-weight: 500; }

.widget-icon {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center; }
  .widget-icon i {
    font-size: 22px; }

.form-control {
  border-radius: 0; }

.form-group small, .form-group .small {
  font-size: 70%; }

.settings-container .form-control-label {
  font-size: 1.125rem;
  padding-left: 0; }
  @media (max-width: 667px) {
    .settings-container .form-control-label {
      font-size: .875rem; } }

.settings-container h4 {
  font-weight: 300; }

.outputs-container h4 {
  font-weight: 300; }

.nav-tabs > li {
  padding-left: 0;
  padding-right: 0; }
  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border-color: #e6e6e6;
    color: #626262;
    background-color: #e6e6e6; }
  .nav-tabs > li > a {
    border-radius: 0;
    padding: 15px 20px;
    margin-right: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    color: fade(#626262, 70%);
    font-size: 13px;
    min-width: 70px;
    text-transform: uppercase;
    border-color: transparent; }
    .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
      background: transparent;
      border-color: transparent;
      color: #626262; }
    .nav-tabs > li > a .tab-icon {
      margin-right: 6px; }

.nav-tabs ~ .tab-content {
  overflow: hidden;
  padding: 15px; }
  .nav-tabs ~ .tab-content > .tab-pane.slide-left, .nav-tabs ~ .tab-content > .tab-pane.slide-right {
    transition: all .3s ease !important; }
    .nav-tabs ~ .tab-content > .tab-pane.slide-left.sliding, .nav-tabs ~ .tab-content > .tab-pane.slide-right.sliding {
      opacity: 0  !important; }
    .nav-tabs ~ .tab-content > .tab-pane.slide-left.active, .nav-tabs ~ .tab-content > .tab-pane.slide-right.active {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1; }
  .nav-tabs ~ .tab-content > .tab-pane.slide-left.sliding {
    -webkit-transform: translate3d(10%, 0, 0) !important;
    transform: translate3d(10%, 0, 0) !important; }
  .nav-tabs ~ .tab-content > .tab-pane.slide-right.sliding {
    -webkit-transform: translate3d(-10%, 0, 0) !important;
    transform: translate3d(-10%, 0, 0) !important; }

.nav-tabs.nav-tabs-left:after, .nav-tabs.nav-tabs-right:after {
  border-bottom: 0px; }

.nav-tabs.nav-tabs-left > li, .nav-tabs.nav-tabs-right > li {
  float: none; }

.nav-tabs.nav-tabs-left {
  float: left; }
  .nav-tabs.nav-tabs-left ~ .tab-content {
    border-left: 1px solid rgba(0, 0, 0, 0.1); }

.nav-tabs.nav-tabs-right {
  float: right; }
  .nav-tabs.nav-tabs-right ~ .tab-content {
    border-right: 1px solid rgba(0, 0, 0, 0.1); }

.nav-tabs-simple {
  border-bottom: 0px; }
  .nav-tabs-simple:after {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    bottom: 3px;
    z-index: 120; }
  .nav-tabs-simple > li {
    margin-bottom: 2px; }
    .nav-tabs-simple > li:after {
      transition: all 0.1s linear 0s;
      -webkit-backface-visibility: hidden;
      width: 100%;
      display: block;
      background-color: transparent;
      height: 3px;
      content: '';
      z-index: 125; }
      .nav-tabs-primary .nav-tabs-simple > li:after {
        background-color: #6d5cae; }
      .nav-tabs-success .nav-tabs-simple > li:after {
        background-color: #10cfbd; }
      .nav-tabs-complete .nav-tabs-simple > li:after {
        background-color: #48b0f7; }
      .nav-tabs-danger .nav-tabs-simple > li:after {
        background-color: #f55753; }
      .nav-tabs-warning .nav-tabs-simple > li:after {
        background-color: #f8d053; }
      .nav-tabs-info .nav-tabs-simple > li:after {
        background-color: #3b4752; }
    .nav-tabs-simple > li.active a, .nav-tabs-simple > li.active a:hover, .nav-tabs-simple > li.active a:focus {
      background-color: transparent;
      border-color: transparent; }
    .nav-tabs-simple > li.active:after, .nav-tabs-simple > li:hover:after {
      background-color: #f55753; }
  .nav-tabs-simple.nav-tabs-left:after, .nav-tabs-simple.nav-tabs-right:after {
    border-bottom: 0px; }
  .nav-tabs-simple.nav-tabs-left > li:after, .nav-tabs-simple.nav-tabs-right > li:after {
    width: 0px;
    height: 100%;
    top: 0;
    bottom: 0;
    position: absolute; }
  .nav-tabs-simple.nav-tabs-left > li.active:after, .nav-tabs-simple.nav-tabs-left > li:hover:after, .nav-tabs-simple.nav-tabs-right > li.active:after, .nav-tabs-simple.nav-tabs-right > li:hover:after {
    width: 3px; }
  .nav-tabs-simple.nav-tabs-left > li:after {
    right: 0; }
  .nav-tabs-simple.nav-tabs-right > li:after {
    left: 0; }

.table {
  margin-top: 5px; }
  .table thead tr th {
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Montserrat';
    font-size: 13px;
    padding-top: 14px;
    padding-bottom: 14px;
    vertical-align: middle;
    border-bottom: 2px solid #e6e6e6;
    color: #6c6c6c; }
    .table thead tr th[class*='sorting_'] {
      color: #2c2c2c; }
    .table thead tr th:first-child {
      padding-left: 18px !important; }
    .table thead tr th:last-child {
      text-align: right;
      padding-left: 0 !important;
      padding-right: 30px !important; }
    .table thead tr th .btn {
      margin-top: -20px;
      margin-bottom: -20px; }
  .table tbody tr td {
    background: #fff;
    border-bottom: 1px solid white;
    border-top: 0px;
    padding: 20px;
    font-size: 13.5px; }
    .table tbody tr td .btn {
      background: #3e3e3e;
      display: inline-block;
      margin: 5px;
      border-radius: 4px;
      padding: 5px;
      color: #62605a !important; }
      .table tbody tr td .btn:hover {
        background: #525252; }
    .table tbody tr td[class*='sorting_'] {
      color: #000; }
    .table tbody tr td:last-child {
      text-align: right; }
  .table tbody tr.selected td {
    background: #fef6dd; }
  .table.table-hover tbody tr:hover td {
    background: #daeffd !important; }
  .table.table-hover tbody tr.selected:hover td {
    background: #fef6dd !important; }
  .table.table-striped tbody tr td {
    /*padding: 19px;*/
    background: #fafafa !important; }
  .table.table-striped tbody tr:nth-child(2n+1) td {
    background: #fff !important; }
  .table.table-condensed {
    table-layout: fixed; }
    .table.table-condensed thead tr th {
      padding-left: 20px;
      padding-right: 20px; }
    .table.table-condensed tbody tr td {
      padding-top: 12px;
      padding-bottom: 12px; }
    .table.table-condensed thead tr th, .table.table-condensed tbody tr td, .table.table-condensed tbody tr td * {
      white-space: nowrap;
      vertical-align: middle;
      overflow: hidden;
      text-overflow: ellipsis; }
    .table.table-condensed.table-detailed > tbody > tr.shown > td {
      background: #fef6dd; }
      .table.table-condensed.table-detailed > tbody > tr.shown > td:first-child:before {
        content: "\f078";
        display: inline-block;
        margin-right: 8px;
        font-family: 'FontAwesome'; }
    .table.table-condensed.table-detailed > tbody > tr.shown + tr > td {
      background: white;
      padding: 0px 40px; }
      .table.table-condensed.table-detailed > tbody > tr.shown + tr > td .table-inline {
        background: transparent; }
        .table.table-condensed.table-detailed > tbody > tr.shown + tr > td .table-inline tr, .table.table-condensed.table-detailed > tbody > tr.shown + tr > td .table-inline td {
          background: transparent;
          font-weight: 600; }
    .table.table-condensed.table-detailed > tbody > tr > td:hover {
      cursor: pointer; }
    .table.table-condensed.table-detailed > tbody > tr > td:first-child:before {
      content: "\f054";
      display: inline-block;
      margin-right: 8px;
      font-family: 'FontAwesome'; }
    .table.table-condensed.table-detailed .table-inline td {
      border: none;
      text-align: left; }
      .table.table-condensed.table-detailed .table-inline td:last-child {
        text-align: right; }
  .table.table-borderless > tbody > tr > td {
    border-bottom: 0px; }

/*# sourceMappingURL=app.css.map */
