/*****************Button base style***********************************************/
	.ax-button
	{
	    margin-right: 4px;
	    margin-bottom: 5px;
	    overflow: hidden;
	    position: relative;
	    border: 1px solid #696969;
	    border-radius: 4px 4px 4px 4px;
	    cursor: pointer;
	    display: inline-block;
	    font-size: 13px;
	    line-height: 18px;
	    padding: 1px 10px;
	    text-align: center;
	    vertical-align: middle;
	    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
	    color: #FFFFFF;
	}
	
	.ax-icon
	{
		display: inline-block;
	    height: 14px;
	    line-height: 14px;
	    vertical-align: text-top;
	    width: 14px;
	}
/****************************************************************************************/



/***************************Browse********************************************/
	.ax-browse-c
	{
	 	background-color: #5BB75B;
	    background: -moz-linear-gradient(center top, #62C462, #51A351);
	    background: -ms-linear-gradient(top, #62C462, #51A351);
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#62C462), to(#51A351));
		background: -webkit-linear-gradient(top, #62C462, #51A351);
		background: -o-linear-gradient(top, #62C462, #51A351);
		background: linear-gradient(top, #62C462, #51A351);
	
		filter:progid:dximagetransform.microsoft.gradient(startColorstr='#62C462', endColorstr='#51A351', GradientType=0);
	}
	
	.ax-plus-icon
	{
		background: url(icons.png) no-repeat 0px -332px;
	}
/****************************************************************************/



/***************************Upload all***************************************/
	.ax-upload-all
	{
		background-color: #0074CC;
	    background: -moz-linear-gradient(center top, #0088CC, #0055CC);
	    background: -ms-linear-gradient(top, #0088CC, #0055CC);
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#0088CC), to(#0055CC));
		background: -webkit-linear-gradient(top, #0088CC, #0055CC);
		background: -o-linear-gradient(top, #0088CC, #0055CC);
		background: linear-gradient(top, #0088CC, #0055CC);
		filter:progid:dximagetransform.microsoft.gradient(startColorstr='#0088CC', endColorstr='#0055CC', GradientType=0);
	}
	
	.ax-upload-icon
	{
		background: url(icons.png) no-repeat -48px -332px;
	}
/****************************************************************************/


/***************************Clear all****************************************/
	.ax-clear
	{
		background-color: #DA4F49;
	    background: -moz-linear-gradient(center top, #EE5F5B, #BD362F);
	    background: -ms-linear-gradient(top, #EE5F5B, #BD362F);
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#EE5F5B), to(#BD362F));
		background: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
		background: -o-linear-gradient(top, #EE5F5B, #BD362F);
		background: linear-gradient(top, #EE5F5B, #BD362F);
		filter:progid:dximagetransform.microsoft.gradient(startColorstr='#EE5F5B', endColorstr='#BD362F', GradientType=0);
	}
	.ax-clear-icon
	{
		background: url(icons.png) no-repeat -216px -332px;
	}
/****************************************************************************/


.ax-browse-c:hover,.ax-upload-all:hover,.ax-clear:hover
{
	opacity:0.5;
	filter:alpha(opacity=50);
}

.ax-remove
{
	background-color: #DA4F49;
    background: -moz-linear-gradient(center top, #EE5F5B, #BD362F);
    background: -ms-linear-gradient(top, #EE5F5B, #BD362F);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#EE5F5B), to(#BD362F));
	background: -webkit-linear-gradient(top, #EE5F5B, #BD362F);
	background: -o-linear-gradient(top, #EE5F5B, #BD362F);
	background: linear-gradient(top, #EE5F5B, #BD362F);
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#EE5F5B', endColorstr='#BD362F', GradientType=0);
}

.ax-upload
{
	background-color: #0074CC;
    background: -moz-linear-gradient(center top, #0088CC, #0055CC);
    background: -ms-linear-gradient(top, #0088CC, #0055CC);
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#0088CC), to(#0055CC));
	background: -webkit-linear-gradient(top, #0088CC, #0055CC);
	background: -o-linear-gradient(top, #0088CC, #0055CC);
	background: linear-gradient(top, #0088CC, #0055CC);
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#62C462', endColorstr='#51A351', GradientType=0);
}

.ax-abort .ax-icon
{
	background: url(icons.png) no-repeat -167px -332px;
}

.ax-disabled
{
	opacity: 0.5;
	filter:alpha(opacity=50);
	cursor:auto;
}

.ax-remove:hover, .ax-upload:hover, .ax-abort:hover
{
	opacity: 0.5;
	filter:alpha(opacity=50);
}


.ax-preview
{
	max-height:80px;
	max-width:80px;
}


.ax-prev-container
{
	visibility:hidden;
	float:left;
	height:0px;
    width: 0px;
    display: inline-block;
    background: url(icons.png) no-repeat -80px -78px;
}

/************************List files styles******************************/
	.ax-file-list
	{
		overflow:hidden;
	    list-style: none outside none;
	    padding:0;
		margin:0;
		width: 585px;
	}
	
	.ax-file-list li
	{	
		border-top: 1px solid #DDDDDD;
	    text-align:center;
	    margin: 0 2px 2px 0;
	    padding: 2px;
	    text-align:center;
	    
	    width: 585px;
	    height: 18px;
	}
	.ax-file-list li:hover
	{	
		background-color: #EBEBEB;
	    background: -moz-linear-gradient(center top, #EBEBEB, #BDBDBD);
	    background: -ms-linear-gradient(top, #EBEBEB, #BDBDBD);
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#EBEBEB), to(#BDBDBD));
		background: -webkit-linear-gradient(top, #EBEBEB, #BDBDBD);
		background: -o-linear-gradient(top, #EBEBEB, #BDBDBD);
		background: linear-gradient(top, #EBEBEB, #BDBDBD);
		filter:progid:dximagetransform.microsoft.gradient(startColorstr='#EBEBEB', endColorstr='#BDBDBD', GradientType=0);
		
	}
	
	.ax-edit-fn
	{
		border:1px solid gray;
		background-color:#fff;
	}
/***********************************************************************/




.ax-file-name {
    color: #000000;
    float: left;
    font: 11px 'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
    width: 80%;
}

.ax-file-size {
    color: #000000;
    float: right;
    font: 11px 'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin: 0;
    overflow: hidden;
    padding: 0;
    text-align: left;
    width: 20%;
}

.ax-file-name input
{
	width:80%;
}

.ax-progress
{
	background-color:#f7f7f7;
	background-image:-moz-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image:-ms-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
	background-image:-webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image:-o-linear-gradient(top, #f5f5f5, #f9f9f9);
	background-image:linear-gradient(top, #f5f5f5, #f9f9f9);
	background-repeat:repeat-x;

	border-radius:4px;
	filter:progid:dximagetransform.microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f9f9f9', GradientType=0);
	-webkit-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.1);
	background-color: white;
    border-radius: 2px;
    margin-top: 2px;
    padding: 0;
    float:left;
    height:16px;
    width: 100px;
    position:relative;
    text-align:center;
}

.ax-progress-bar
{
    height: 100%;
	width: 0; 
	background-image: url(loader.gif);
}

.ax-progress-info
{
	font: 12px 'Helvetica Neue',Helvetica,Arial,sans-serif;
    height: 100%;
    width: 100%;
    position:absolute;
    top:0;
	left:0;
	overflow:hidden;
}


.ax-toolbar
{
	float:right;
	display: inline-block;
	overflow:hidden;
	margin-top: 2px;
}

.ax-browse
{
	opacity: 0;
	filter:alpha(opacity=0);
	cursor:pointer;
	height:64px;
	position: absolute;
	top: 0;
	right: 0;
}

.ax-details {
    float: left;
    margin-top: 1px;
    padding: 1px;
    width: 400px;
}


/*************************************Light Box CSS***************************************/
#ax-box 
{
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 1001;
	display: none;
	border:2px solid #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px; 
	
  -webkit-box-shadow: 0px 0px 21px 0px #ffffff; /* Saf3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
     -moz-box-shadow: 0px 0px 21px 0px #ffffff; /* FF3.5 - 3.6 */
          box-shadow: 0px 0px 21px 0px #ffffff; /* Opera 10.5, IE9, FF4+, Chrome 6+, iOS 5 */
	
}

#ax-box-shadow 
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	z-index: 1000;
	display: none;
}

#ax-box-close
{
	width:32px;
	height:32px;
	background:url(close.png) no-repeat 0 0;
	top:-5px;
	right:-5px;
	position:absolute;
	cursor:pointer;
}

#ax-box-fn
{
    background: none repeat scroll 0 0 black;
    bottom: 0;
    color: white;
    height: 38px;
    left: 0;
    opacity: 0.8;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 15;
}

#ax-box-fn span
{
    display: block;
    font-family: 'Volkhov',Georgia,sans-serif;
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
    line-height: 38px;
    padding: 0 20px;
}
/*****************************************************************************************************/




/*************************************File Type Icons*************************************************/
.ax-filetype-pdf{
	background: url(icons.png) no-repeat  -87px -239px;
}
.ax-filetype-zip{
	background: url(icons.png) no-repeat  -240px -164px;
}
.ax-filetype-doc{
	background: url(icons.png) no-repeat  0 -162px;
}
.ax-filetype-docx{
	background: url(icons.png) no-repeat  0 -162px;
}
.ax-filetype-rar{
	background: url(icons.png) no-repeat -240px -164px;
}
.ax-filetype-exe{
	background: url(icons.png) no-repeat  -83px 0;
}
.ax-filetype-xls{
	background: url(icons.png) no-repeat  0 -243px;
}
.ax-filetype-xml{
	background: url(icons.png) no-repeat -242px -81px;
}
.ax-filetype-mp4{
	background: url(icons.png) no-repeat -240px 0;
}
.ax-filetype-avi{
	background: url(icons.png) no-repeat -240px 0;
}
.ax-filetype-pdf{
	background: url(icons.png) no-repeat -81px -242px;
}
.ax-filetype-gif{
	background: url(icons.png) no-repeat -240px -244px;
}
.ax-filetype-bmp{
	background: url(icons.png) no-repeat 0 -81px;
}
.ax-filetype-mp3{
	background: url(icons.png) no-repeat 0 0;
}
.ax-filetype-ppt, .ax-filetype-pptx{
	background: url(icons.png) no-repeat -160px -80px;
}
.ax-filetype-tiff{
	background: url(icons.png) no-repeat -164px -243px;
}
.ax-filetype-txt{
	background: url(icons.png) no-repeat -164px -163px;
}
/*****************************************************************************************************/


/*********************Drop Over Class*******************************************************************/
.ax-drop{
	border:2px solid blue;
	border-radius:4px;
}

