body{
	background-color: #171720;
}

body .ui-widget{
	font-family: Helvetica,Arial,sans-serif;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
	padding: 0.75em 1.5em;
}

body .ui-widget input, body .ui-widget select, body .ui-widget textarea, body .ui-widget button {
	font-family: Helvetica,Arial,sans-serif;
}
.ui-state-default,
 .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default,
  .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{
	background:#ECECEC;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
	background: #fff;
}
body .pageContent .ui-widget.ui-widget-content{
	border:none;
	background: none;
}
body .ui-widget-header {
	background: none;
	border:0;
	border-bottom:1px solid #aaaaaa;
	border-radius: 0;
}
body .ui-tabs .ui-tabs-nav li {
	font-weight: bold;
}
.header{
	border-bottom:1px solid #2D3043;
	display: flex;
	color:#fff;
}
.helpLinkDiv{
	margin-bottom: 1.5em;
}
.helpLinkDiv a{
	color:#8A8A8A;
	text-decoration: none;
	font-size: 0.8em;
	
}
.header>div{
	padding:1em;
}
.headerLeft{
	flex:1
}
.headerLeft .logo{
	max-height:24px;
}
.headerRight .logo{
	max-height:24px;
}
.headerCenter{
	display: flex;
	align-items: center;
	font-size: 0.8em;
}
.headerCenter>div{
	margin-left: 0.5em;
	margin-right: 0.5em;
}
body .headerCenter a{
	color:rgba(255,255,255,0.75);
	text-decoration: none;
}
body .headerCenter a:hover{
	color:rgba(255,255,255,1);
	text-decoration: none;
}
.container{
	max-width: 1500px;
	margin: auto;
	/* margin-left: 5%;
	margin-right: 5%; */
}
.row{
	display: flex;
}
.fppMenuContainer{
	padding-top: 2em;
	padding-bottom: 2em;
}
.title{
	font-size: 2.75em;
	margin-top: -1em;
	margin-bottom: 0.75em;
	font-weight: bold;
	color:#fff;
}
body fieldset{
	border:0;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #D2D2D2;
	padding-bottom: 2em;
	margin-bottom: 1em;
	margin-top: 1.5em;
}
body legend{
	border:0;
	padding:0;
	font-size: 1.6em;
	font-weight: bold;
	margin-bottom: 0.5em;
	display: block;
	margin-bottom: 0.5em;
	
	
}
.settings .row{
	margin-bottom: 1.1em;
}
#fppMenu{
	background: none;
	float: right;
	padding-top: 2.2em;
}
#fppMenu a, #fppMenu a:hover, #fppMenu a:focus, #fppMenu a:active{
	font-family: Helvetica,Arial,sans-serif;
	font-weight: bold;
	cursor: pointer;
	color:#B8B8B8;
}
#fppMenu li ul a{
	color:#1E1E1E;
}
#fppMenu li ul a:hover, #fppMenu li ul a:focus, #fppMenu li ul a:active{
	background-color:#F63939;
	color:#fff
}
#fppMenuList>li{
	border-bottom:3px solid transparent;
	margin-left: 1em;
}
#fppMenuList>li.active {
	border-bottom-color: #F63939;
}
#fppMenuList>li.active>a{
	color:#fff;
}

#btnDaemonControl{
	margin-left: 1em;
}
#programControl{
	color:#fff;
}
#daemonControl .statusTable{
	display: flex;
	margin-top: 0.5em;
	margin-bottom: 3em;
}
#daemonControl .statusTable > div{
	margin-left: 2em;
	padding-left: 2em;
	position: relative;
}
#daemonControl .statusTable > div:before{
	content:'';
	display: block;
	border-left:1px solid #2E4260;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transform: skewX(-13deg);
}
#daemonControl .statusTable>:first-child{
	margin-left: 0;
	padding-left: 0;	
}
#daemonControl .statusTable>:first-child:before{
	content:none;
}
.labelHeading{
	font-size: 0.75rem;
	text-transform: uppercase;
	margin-bottom: 0.8em;
}
#txtPlayerStatus{
	padding-left: 0.5em;
}
.labelValue{
	font-weight: bold;
}
.settingLabelHeading{
	font-weight: normal;
}

.pageContent {
	background: #fff;
	border-radius: 8px;
	color:#000;
	padding:2.5em 3em;
}
.pageContent {
	box-shadow: 1000px 100px 0px 0px #20222E,-1000px 100px 0px 0px #20222E ,0px 100px 0px 0px #20222E;
}
#selFPPDmode{
	background-color: #000;
	color:#fff;
	background: url(/images/redesign/chevron-down-white.svg) no-repeat;
	background-position: right 10px center;
	padding-left: 0;
	padding-right: 3em;
	cursor: pointer;
	margin-top: -10px;
	border: none;
}
#selFPPDmode option {
	 color: black;
}
.labelHeadingFPPDMode{
	margin-bottom: 0;
}
#volume{
	display: block;
	font-size: 1.3em;
	font-weight: bold;
}

input[type=range] {
	-webkit-appearance: none; /* Hides the slider so that custom slider can be made */
	width: 100%; /* Specific width is required for Firefox. */
	background: transparent; /* Otherwise white in Chrome */
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8px;
	background: #D9D9D9;
	border-radius: 4px;
}
  
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	box-shadow: 3px 3px 8px rgba(0,0,0,0.1) ;
	border-radius:1.5em;
	border:1px solid #D2D2D2;
	background-color: #fff;
	border-radius:50%;
	width: 35px;
	height: 35px;
	margin-top: -12.5px;
  }

#playlistSelect{

	font-weight: bold;

}

.playlistRepeatCol{
	display: flex;
	align-items: center;
}
.playlistRepeatCol .settingLabelHeading{
	display: inline-block;
	padding-right: 1em;
}
#playerControls{
	flex:1;
}
.statusBoxRight{
	float:right;
}
.volumeControlsContainer{
	display: flex;
}
.volumeControls{
	display: flex;
	align-items: center;
}
.volumeControls input {
	margin-left: 0.5em;
	margin-right: 0.5em;
	
}
.volumeControlsContainer {
	margin-bottom: 1.1em;
}
.volumeControlsContainer .labelHeading{

}
.pageContent .volumeControls .buttons{
	border-color:#D2D2D2;
	border-radius:29px;
	width: 50px;
	height:50px;
}

.pageContent .disableButtons{
	background-color: rgba(0,0,0,0.1);
	border-color: rgba(0,0,0,0.1);
	color:  rgba(0,0,0,0.3);
}
hr {
	border:0px;
	border-style: solid;
	border-top: 1px solid #D2D2D2;
}
.playlistSelectCol{
	flex: 1;
}
.settings .playlistSelectRow{
	align-items: center;
	margin-bottom: 1.5em;
}
.playlistRepeatCol{
	padding-left: 2em;
}

.playlistEntriesBody{
	background-color: #ECECEC;
	border-radius:8px;
	padding:1.1em;
	margin-top: 1.5em;
	width: 100%;
}
.playlistEntriesBody{

}
.tblPlaylistDetailsHeader h2{
	padding-right: 1.5em;
	font-size: 1.6em;
	margin-top: 1.2em;
}
.tblPlaylistDetailsHeader>div{
	display: flex;
	margin-top: 1.9em;
}
.tblPlaylistDetailsHeader th{
	padding:0.2em 0 1em 0;
}
.tblPlaylistContainer{
	display: none;
}
.tblPlaylistContainer.tblPlaylistActive{
	display: block;
}
.PlaylistRowPlaying,.fileDetails.selectedEntry{
	color: #fff;
	background-color: #56B760;
}
#playlistDetails table{
	border:0;
	border-spacing:0;
}
.playlistRow td {
	padding:0.2em 1em;
}
.playlistRow td:first-child {
	padding:1em 1em;
	border-radius:5px 0 0 5px;
}
.playlistRow td:last-child {
	padding:1em 1em;
	border-radius:0 5px 5px 0;
}
.fileDetails.selectedEntry td:first-child {
	border-radius:5px 0 0 5px;
}
.fileDetails.selectedEntry td:last-child {
	border-radius:0 5px 5px 0;
}
.fileDetails td{
	padding:0.4em 0.4em;
	cursor: pointer;
}
.tblPlaylistHeaderDetails{
	display: flex;
}
#playerTime{
	margin-top: 1.4em;
}
#playerTime .labelValue, #playerTime .labelHeading, .tblPlaylistHeaderDetails .labelValue, .tblPlaylistHeaderDetails .labelHeading{
	padding:15px;
}
#playerTime .labelHeading, .tblPlaylistHeaderDetails .labelHeading{
	padding-bottom: 0.1em;
	padding-top: 0;
}
#playerTime .labelValue, .tblPlaylistHeaderDetails .labelValue{
	background-color: #ECECEC;
	padding-top: 0.75em;
	padding-bottom: 0.75em;
	font-size: 1.3em;

}
#playerTime > div:first-child > div, .tblPlaylistHeaderDetails > div:first-child > div {
	padding-left: 30px;
}
#playerTime > div:first-child .labelValue, .tblPlaylistHeaderDetails > div:first-child .labelValue{
	border-radius: 28px 0 0 28px;
}
#playerTime > div:last-child .labelValue, .tblPlaylistHeaderDetails > div:last-child .labelValue{
	border-radius: 0 28px 28px 0;
}
.verbosePlaylistItemSetting th{
	font-weight: normal;
}
.verbosePlaylistItemSetting{
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}
#verbosePlaylistItemDetailsRow th{
	padding-right: 1em;
}
#schedulerInfo{
	margin-top: 2em;
	margin-bottom: 0.5em;
}
#schedulerInfo .statusTable {
	display: flex;	
}
#schedulerInfo .statusTable>div{
	margin-left: 4em;
}
#schedulerInfo .statusTable>div:first-child{
	margin-left: 0;
}
.icon-help{
	width: 28px;
	height: 28px;
	
    padding-left: 6px;
    padding-bottom: 6px;
}
#footer{
	position: relative;
	text-align: center;
	padding: 2em;
	background-color: #20222E;
	box-shadow: 1000px 100px 0px 0px #20222E,-1000px 100px 0px 0px #20222E ,0px 100px 0px 0px #20222E;
}
.footerLink{
	border-top:1px solid #4C4C4C;
	padding:2em;
	margin-top: 2em;
	padding-bottom: 0;
}
.footerLink a{ 
	color:#fff;
	font-size: 0.9em;
	text-decoration: none;
}
body .sm-clean a .sub-arrow {
	right: 5px;
}

.wifi-weak {
    background: url(images/wifi.png) -82px 0px;
    padding-left: 4px;
    width: 30px;
    height: 25px;
    display: inline-block;
}

/* Use as <div class="ajax-loading-60px"></div> */
.ajax-loading-60px {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #3498db;
	width: 60px;
	height: 60px;
	-webkit-animation: ajax-spin 2s linear infinite; /* Safari */
	animation: ajax-spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes ajax-spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes ajax-spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
