#footer
{
	font-size: 14px;
	text-align: center;
	#background: rgb(240, 240, 240);
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.buttons
{
	background-color: #eeeeee;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
	background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
	background-image: linear-gradient(top, #eeeeee, #cccccc);
	border: 1px solid #ccc;
	border-bottom: 1px solid #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #333;
	font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	line-height: 1;
	padding: 1px 0;
	text-align: center;
	text-shadow: 0 1px 0 #eee;
	width: 90px;
	height: 20px;
}

.buttons:hover
{
	background-color: #dddddd;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
	background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
	background-image: linear-gradient(top, #dddddd, #bbbbbb);
	border: 1px solid #bbb;
	border-bottom: 1px solid #999;
	cursor: pointer;
	text-shadow: 0 1px 0 #ddd;
}

.buttons:active
{
	border: 1px solid #aaa;
	border-bottom: 1px solid #888;
	-webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
	-moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
	box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}

.disableButtons
{
    cursor: not-allowed;
    pointer-events: none;
	background-color: #eeeeee;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
	background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
	background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
	background-image: linear-gradient(top, #eeeeee, #cccccc);
	border: 1px solid #ccc;
	border-bottom: 1px solid #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #AAA;
	font: bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	line-height: 1;
	padding: 1px 0;
	text-align: center;
	text-shadow: 0 1px 0 #eee;
	width: 90px;
	height: 20px;
}

.disableButtons:active
{
	border: 1px solid #aaa;
	border-bottom: 1px solid #888;
	-webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
	-moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
	box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}

#playerControls input
{
	margin: 0 10px 0 0;
	width: 100px;
}

#bodyWrapper
{
	width: 1200px;
	margin-left: auto;
	margin-right: auto;
	background: rgb(240, 240,240);
}

#daemoncontrol, #playerstats
{
	background: rgb(240, 240, 240);
	margin:10px;
	padding:10px;
}

.controlHeader{
	width: 15%;
}
.controlValue{
	width: 40%;
}
.controlButton{
	text-align: right;
	width: 45%;
}

#nextPlaylist
{
    white-space: nowrap;
}

#rebootShutdown
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 100%;
}

.center
{
	text-align: center;
}

.ui-front
{
	z-index: 1001;
}
.ui-dialog
{
 	z-index: 10000;
}	

.settingsTableWrapper td {
    padding: 0px;
    vertical-align: top;
    white-space: nowrap;
}

.settingsTable {
	border-collapse: collapse;
    border-spacing: 0px;
}

.settingsTable th {
    padding: 0px;
    padding-right: 5px;
    padding-bottom: 2px;
    white-space: nowrap;
    text-align: left;
    vertical-align: text-top;
    font-weight: normal;
}

.settingsTable td {
    padding: 0px;
    padding-right: 5px;
    padding-bottom: 2px;
    vertical-align: text-top;
}

.settingsTable td input {
    vertical-align: text-top;
}

.settingsTable td img {
    vertical-align: text-top;
}

.settingsGroupTable th {
    padding-left: 15px;
}

.settings
{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

#divNetwork
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.clear
{
	clear:both;	
}

.settings fieldset
{
	margin-left: auto;
	margin-right: auto;
	border: solid 2px rgb(0,0,0);
}

#playerControls, #eventControls {
	text-align:center;
}

.eventTblID{
	width: 5%;
}
.eventTblName{
	width: 20%;
}
.eventTblCommand{
	width: 20%;
}
.eventTblArgs{
	width: 55%;
}

.aboutLeft{
	float: left;
	width: 47%;
}
.aboutCenter{
	float: left;
	width: 6%;
}
.aboutRight{
	float: left;
	width: 47%;
}
.aboutAll{
    float: left;
    width: 95%;
}


html
{
	background: url(../images/grill-bg.jpg) no-repeat center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#divEthernet, #divEffectLibrary{
	min-height: 200px;
	width: 483px;
	float: left;
}

#divSeqData, #divMusicData, #divVideoData, #divEffectsData, #divScriptsData, #divLogsData, #divUploadsData {
	overflow: auto;
	min-height: 120px;
	max-height: 120px;
	width: 100%;
}

#divWireless, #divRunningEffects{
	overflow: auto;
	display: table;
	min-height: 200px;
	max-height: 300px;
	width: 483px;
	float: right;
}

#restartFlag {
	display: none;
	background-color: #AA0000;
	color: #FFFFFF;
	padding-top: 5px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	min-height: 30px;
	width: 100%;
}

#rebootFlag {
	display: none;
	background-color: #AA0000;
	color: #FFFFFF;
	padding-top: 5px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	min-height: 30px;
	width: 100%;
}

#upgradeFlag {
	background-color: #00AA00;
	color: #FFFFFF;
	padding-top: 5px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	min-height: 30px;
	width: 100%;
}

legend
{
	font-weight: bold;
	padding: 0.1em 0.4em;
	text-align: left;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	border: solid 2px rgb(0,0,0);
}

fieldset
{
	-moz-border-radius:5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
.header{padding: 10px; }
.headerLeft , .headerRight
{
	width:200px;
	text-align:center;
	float:left;
}

.headerCenter
{
	width:770px;
	text-align:center;
	float:left;
}

.siteName{font-size: 200%; padding-top: 13px; }


.colPlaylistNumberDrag {
	background-image: url(../images/vertdrag.png);
	background-repeat:no-repeat;
	background-size:7px 14px;
	background-position:0 2px;
	padding-left:20px;
}
.colPlaylistNumber {
	text-align:right;
	padding-right:0px;
//	width: 5%;
}
.colPlaylistType {
	text-align:left;
	padding-left:5px;
//	width: 10%;
}
.colPlaylistData1 {
	text-align:left;
	padding-left:5px;
//	width: 40%;
}
.colPlaylistData2 {
	text-align:left;
	padding-left:5px;
//	width: 40%;
}

.volumeButton {
	float: left;
}

#slider{
	border-width: 1px;
	border-style: solid;
	border-color: #333 #333 #777 #333;
	border-radius: 25px;
	margin-left: 12px;
	margin-right: 12px;
	width: 100px;
	position: relative;
	height: 13px;
	background-color: #8e8d8d;
	background: url('../images/bg-track.png') repeat top left;
    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 
    				  0 1px 0 0px rgba(250, 250, 250, .5);
    left: 0px;
	top: 6px;
	float:left;
}

#speaker {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url('../images/volume.png') no-repeat 0 -50px;
	position: relative;
}
.ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 25px;
	height: 25px;
	cursor: pointer;
	background: url('images/handle.png') no-repeat 50% 50%;
	font-weight: bold;
	color: #1C94C4;
	outline: none;
	top: -7px;
	margin-left: -12px;
}
.ui-slider-range {
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #eaeaea 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#eaeaea 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eaeaea',GradientType=0 ); /* IE6-9 */
	position: absolute;
	border: 0;
	top: 0;
	height: 100%;
	border-radius: 25px;
}

#statusPlaylistContents{
	height:220px;
	min-height:220px;
	max-height:220px;
	overflow:auto
}

#statusPlaylistContents table {
	border-collapse:collapse;
} 

#eventListContents, #effectListContents{
	height:120px;
	min-height:120px;
	max-height:120px;
	overflow:auto
}

#statusPlaylist, #eventList, #effectList, #effectLibrary, #runningEffects{
	border:thin solid;	
	margin-top: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	min-height: 65px;
}

#playerStatus{
}

.playerStatusHeader{
    width: 1%;
    white-space: nowrap;
    padding-right: 15px;
}
.playerStatusLeft{
	width: 70%;
	float: left;
}
.playerStatusRight{
	width: 30%;
	float: left;
}

#tblStatusPlaylist {
	 width:100%;
}

#tblStatusPlaylist tbody tr th{
	background: #aaaaaa;
}

#tblStatusPlaylistEntries{
	 width:100%;
	 border-collapse:collapse;
}

#tblCreatePlaylist {
	 width:100%;
	 border-collapse:collapse;
}

#tblCreatePlaylist tbody tr th{
	background: #aaaaaa;
}

#fppSystems thead {
	background:#CCC;
}

.playlistHeader, .eventListHeader, .effectListHeader{
	background:#DDD;
	text-align:center;
}

.textRight{
	text-align:right;
	padding-right:5px;
	}
	
.textLeft{
	text-align:left;
	padding-left:5px;
	}	
	
.textCenter{
	text-align:center;
	}	

.playlistSelectedEntry, .eventSelectedEntry, .effectSelectedEntry{
	background:#CCC;
}

.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
  -ms-user-select: none;
   user-select: none;
}


.PlaylistPlayingIcon{
	background-image: url(../images/playlistplay.png);
	background-size:10px 10px;
	background-repeat:no-repeat;
	background-position: 4px 4px;
}

.PlaylistRowPlaying{
	background:#D1E0FF;
}	

#MusicOptions{
	display:none;
}


#playlistEntryProperties ul li{
	float:left;
	list-style:none;
	padding-right:8px;
}

#playlistEntryProperties ul li select option{
	font-size:12px;
}


#btnAddPlaylistEntry{
	margin-top:18px;
}

#tblCreatePlaylist{
	 width:100%;
	 border-collapse:collapse;
}

#createPlaylistItems{
  margin:10px;
  padding:10px;
	border:thin solid;	
	font-size:12px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

#bytesTransferred{
  margin:10px;
  padding:10px;
	border:thin solid;	
	font-size:12px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	min-height:200px;
	text-align:center;
	display:none;
}

#bridgeStatistics1{
	margin-left:25px;
	float:left;
}

#bridgeStatistics2{
	margin-left:125px;
	float:left;
}

#rowCreatePlaylistHeader{
		background:#DDD;
		text-align:left;
		padding-left:5px;
		text-decoration:underline;
		border-collapse:collapse;
}

#rowReceivedBytesHeader{
		background:#DDD;
		text-align:left;
		padding-left:5px;
		text-decoration:underline;
		border-collapse:collapse;
}

.selectedEntry {
	background: #CCC;
}

.tblCreatePlaylistEntries_tbody {
	height: auto;
	min-height: 20px;
}

.pl_title {
	font-size: larger;
}

.title {
	font-size: larger;
	text-align: center;
	font-weight: bold;
}

.helpLink {
	text-decoration: none;
	color: blue;
}

.helpLinkDiv {
	float: right;
}

.nonULLink {
	text-decoration: none;
	color: blue;
}

#playlistEntryProperties ul{
	padding: 0;
	margin: 10px;
}

#credits{
	text-align: center;
}

.logo{
	height: 60px;
}

.channelOutputTable {
    background: #F0F0F0;
	width: 100%;
    border:thin;
    border-color:#333;
    border-spacing: 0px;
    border-collapse: collapse;
}

.channelOutputTable tr {
    border: thin solid;
    border-color: #CCC;
}

.channelOutputTable th {
    vertical-align: bottom;
    text-align: center;
    border: solid 2px #888888;
    font-size: 0.8em;
    background-color:#CCC;
}

.universeOutputTable td {
    text-align: center;
}

.universeOutputTable input[type=text] {
    text-align: center;
    width: 100%;
}
.universeOutputTable input[type=number] {
    text-align: center;
    width: 100%;
}

.serialOutputTable {
    width: 120px;
}
.serialOutputTable td {
    text-align: center;
}

#fileManager, #channelOutputManager, #channelTester, .fppTabs {
	min-width: 1068px;
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
}
.fileDetails {
	font-size: 13px;
}
.fileName {
	width: 70%;
}
.fileTime {
	width: 10%;
}
.fileExtraInfo{
	width: 7%;
}
#logText {
	overflow: auto;
}
#logViewer {
	border: 2px solid #000000;
}

.fppTableWrapper {
	border:thin solid;
	font-size:12px;
	margin-top: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	min-height: 65px;

	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.fppTableHeader {
	background:#DDD;
	text-align:center;
	font-weight: bold;
}

.fppTableSelectedEntry {
	background:#CCC;
}

#restoreSuccessFlag{
    display: block;
    background-color: forestgreen;
    color: #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.bad
{
	font-weight: bold;
	color: red;
}
.good
{
	font-weight: bold;
	color: green;
}

pre
{
	border: 1px solid #000;
	margin: 30px;
	padding: 5px;
	background: #ddd;
}

.button
{
	border: 1px solid #a0a0a0;
	padding: 2px;
	margin: 2px;
	background: #ccc;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.button:hover
{
	cursor:pointer;
}

.pluginTitle
{
	font-weight: bold;
	font-size: 1.1em;
	font-family: Arial, Helvetica, sans-serif;
}

.pluginTable
{
	width: 800px;
}

.pluginTable td
{
	text-align: left;
	vertical-align: top;
}

td.pluginsHeader {
	text-align: center;
	font-weight: bold;
	font-size: 22px;
	background-color: #000000;
	color: #FFFFFF;
}

td.bgBlue {
	background-color: #000088;
}

td.bgGreen {
	background-color: #008800;
}

td.bgRed {
	background-color: #880000;
}

td.bgDarkOrange {
	background-color: #BA4A00;
}

.pendingSpan {
	color: #00AA00;
}

.updateTable td {
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	font-size: 10px;
}

#overlay{
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.6);
    z-index:4000;
    width:100%;
    height:100%;
	display: none;
}



#fppMenu ul {
	padding: 0px;
	z-index:9999; }

#fppMenu {
	border-radius: 0px;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	padding: 0px; }

#fppMenu li a span.sub-arrow {
	border-color: white transparent transparent transparent; }

#fppMenu > li {
	width: 25%; }
#fppMenu li {
	text-align: center;
	background: #414141; }

#fppMenu > li {
	border-right: 1px solid #888; }

#fppMenu > li:last-child {
	border: none; }

#fppMenu li a {
	font: bold 12px Verdana;
	padding-top: 8px;
	padding-bottom: 8px;
	color: white; }

#fppMenu li ul li a {
	padding: 6px; }

#fppMenu li a:hover {
	cursor: pointer;
	background-color: #111; }

#fppMenu li ul {
	border-radius: 0px;
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border: none; }

#fppMenu li ul:before, #fppMenu li ul:after {
	border: none; }

#fppMenu li ul li {
	border-bottom: 1px solid #888; }

#fppMenu li ul li:last-child {
	border: none; }

#fppMenu li ul li a {
	font-weight: normal; }

#hostnameColumn{
	max-width: 50px;
}

.hostDescriptionSM{
	font-size: 0.7em;
}

.playlistInfoText{
	font-size: 0.8em;
}


.multiSyncadvancedView{
	float: right;
	font-weight: bold;
}

.advancedViewHeaderSpacer{
	min-width: 20px;
}

.advancedViewHeader {
	color: #fff;
	background-color: #414141;
}

.advancedViewRow{
	font-size: 0.8em;
	color: #fff;
	background-color: #414141;
	text-align: center;
	min-width: 90px;
}

.updateAvailable {
	color: #FF0000;
	font-weight: bold;
}

@media screen and (max-width: 950px) {
	html {
		background: #f0f0f0;
	}
	#bodyWrapper
	{
		width: 100%;
	}
	.settings
	{
		width: 100%;
	}
	#footer
	{
		width: 100%;
	}
	.headerLeft, .headerRight, .headerCenter
	{
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
}

@media screen and (max-width: 700px) {
	#fppMenu > li {
		width: 100%; }
	#fppMenu > li a {
		border-bottom: 1px solid #888; }
	#fppMenu li a {
		color: white !important; }
	#fppMenu li ul li {
		background: #555; }
}
