/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/soc/ti,sci_pm_domain.h>
#include <dt-bindings/pinctrl/am33xx.h>
#include "am335x-bone-pins.h"
    
&{/} {
    reserved-memory {
        #address-cells = <1>;
        #size-cells = <1>;
        ranges;
        fpp_reserved: fpp_reserved@8f000000 {
            reg = <0x8f000000 0x00400000>;
            status = "okay";
        };
    };
};

&{/chosen} {
    overlays {
        fpp-base-overlay = "FPP_BASE_OVERLAY";
    };
};

&cape_eeprom0 {
    status = "disabled";
};
&cape_eeprom1 {
    status = "disabled";
};
&cape_eeprom2 {
    status = "disabled";
};
&cape_eeprom3 {
    status = "disabled";
};

&rtc {
    status = "disabled";
};
&wkup_m3 {
    status = "disabled";
};
&wkup_m3_ipc {
    status = "disabled";
};

&i2c1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;

	clock-frequency = <400000>;
	symlink = "bone/i2c/1";
};

&i2c2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;

	clock-frequency = <400000>;
	symlink = "bone/i2c/2";
};

&uart0 {
	pinctrl-names = "default";
	//pinctrl-0 = <&uart0_pins>;
	pinctrl-0 = <>;

	status = "okay";
};

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;
	symlink = "bone/uart/1";
};

&uart2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;
	symlink = "bone/uart/2";
};

&uart3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;
	symlink = "bone/uart/3";
};

&uart4 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;
	symlink = "bone/uart/4";
};

&uart5 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;
	symlink = "bone/uart/5";
};

&dcan0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;
	symlink = "bone/can/0";
};

&dcan1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;
	symlink = "bone/can/1";
};

&eqep0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;
	symlink = "bone/eqep/0";
};

&eqep1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;
	symlink = "bone/eqep/1";
};

&eqep2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;
	symlink = "bone/eqep/2";
};

&epwmss0 {
	status = "okay";
};

&epwmss1 {
	status = "okay";
};

&epwmss2 {
	status = "okay";
};

&ehrpwm0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;
};

&ehrpwm1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;
};

&ehrpwm2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;
};

&ecap0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;
};

&ecap1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;
};

&ecap2 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;
};

&spi0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;

	channel@0 {
		#address-cells = <1>;
		#size-cells = <0>;

		compatible = "rohm,dh2228fv";
		symlink = "bone/spi/0.0";

		reg = <0>;
		spi-max-frequency = <16000000>;
		spi-cpha;
	};

	channel@1 {
		#address-cells = <1>;
		#size-cells = <0>;

		compatible = "rohm,dh2228fv";
		symlink = "bone/spi/0.1";

		reg = <1>;
		spi-max-frequency = <16000000>;
	};
};

&spi1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <>;

	channel@0 {
		#address-cells = <1>;
		#size-cells = <0>;

		compatible = "rohm,dh2228fv";
		symlink = "bone/spi/1.0";

		reg = <0>;
		spi-max-frequency = <16000000>;
		spi-cpha;
	};

	channel@1 {
		#address-cells = <1>;
		#size-cells = <0>;

		compatible = "rohm,dh2228fv";
		symlink = "bone/spi/1.1";

		reg = <1>;
		spi-max-frequency = <16000000>;
	};
};



&am33xx_pinmux {

/* macro: BONE_PIN( <pin>,<mode_name>,<register_value_macro(s)> */
#define BONE_PIN(XX,ZZ,QQ) \
   XX##_##ZZ##_pin: pinmux_##XX##_##ZZ##_pin { pinctrl-single,pins = < QQ >; };



   /* GPMC_ADVN_ALE (ZCZ ball R7) gpmc_advn_ale (gpio2_2) */
   BONE_PIN(GPMC_ADVN_ALE,default,GPMC_ADVN_ALE(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_ADVN_ALE,gpio,GPMC_ADVN_ALE(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_ADVN_ALE,gpio_pu,GPMC_ADVN_ALE(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_ADVN_ALE,gpio_pd,GPMC_ADVN_ALE(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_ADVN_ALE,timer,GPMC_ADVN_ALE(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE2))

   /* GPMC_OEN_REN (ZCZ ball T7) gpmc_oen_ren (gpio2_3) */
   BONE_PIN(GPMC_OEN_REN,default,GPMC_OEN_REN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_OEN_REN,gpio,GPMC_OEN_REN(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_OEN_REN,gpio_pu,GPMC_OEN_REN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_OEN_REN,gpio_pd,GPMC_OEN_REN(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_OEN_REN,timer,GPMC_OEN_REN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE2))

   /* GPMC_BEN0_CLE (ZCZ ball T6) gpmc_be0n_cle (gpio2_5) */
   BONE_PIN(GPMC_BEN0_CLE,default,GPMC_BEN0_CLE(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_BEN0_CLE,gpio,GPMC_BEN0_CLE(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_BEN0_CLE,gpio_pu,GPMC_BEN0_CLE(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_BEN0_CLE,gpio_pd,GPMC_BEN0_CLE(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_BEN0_CLE,timer,GPMC_BEN0_CLE(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE2))

   /* GPMC_WEN (ZCZ ball U6) gpmc_wen (gpio2_4) */
   BONE_PIN(GPMC_WEN,default,GPMC_WEN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_WEN,gpio,GPMC_WEN(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_WEN,gpio_pu,GPMC_WEN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_WEN,gpio_pd,GPMC_WEN(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_WEN,timer,GPMC_WEN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE2))

   /* GPMC_AD13 (ZCZ ball R12) gpmc_ad13 (gpio1_13) */
   BONE_PIN(GPMC_AD13,default,GPMC_AD13(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD13,gpio,GPMC_AD13(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD13,gpio_pu,GPMC_AD13(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD13,gpio_pd,GPMC_AD13(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD13,eqep,GPMC_AD13(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE4))
   BONE_PIN(GPMC_AD13,pruout,GPMC_AD13(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE6))

   /* GPMC_AD12 (ZCZ ball T12) gpmc_ad12 (gpio1_12) */
   BONE_PIN(GPMC_AD12,default,GPMC_AD12(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD12,gpio,GPMC_AD12(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD12,gpio_pu,GPMC_AD12(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD12,gpio_pd,GPMC_AD12(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD12,eqep,GPMC_AD12(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE4))
   BONE_PIN(GPMC_AD12,pruout,GPMC_AD12(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE6))

   /* GPMC_AD9 (ZCZ ball T10) gpmc_ad9 (gpio0_23) */
   BONE_PIN(GPMC_AD9,default,GPMC_AD9(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD9,gpio,GPMC_AD9(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD9,gpio_pu,GPMC_AD9(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD9,gpio_pd,GPMC_AD9(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD9,pwm,GPMC_AD9(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE4))

   /* GPMC_AD10 (ZCZ ball T11) gpmc_ad10 (gpio0_26) */
   BONE_PIN(GPMC_AD10,default,GPMC_AD10(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD10,gpio,GPMC_AD10(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD10,gpio_pu,GPMC_AD10(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD10,gpio_pd,GPMC_AD10(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD10,pwm,GPMC_AD10(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE4))

   /* GPMC_AD15 (ZCZ ball U13) gpmc_ad15 (gpio1_15) */
   BONE_PIN(GPMC_AD15,default,GPMC_AD15(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD15,gpio,GPMC_AD15(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD15,gpio_pu,GPMC_AD15(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD15,gpio_pd,GPMC_AD15(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD15,eqep,GPMC_AD15(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE4))
   BONE_PIN(GPMC_AD15,pru_ecap_pwm,GPMC_AD15(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
   BONE_PIN(GPMC_AD15,pruin,GPMC_AD15(PIN_INPUT | MUX_MODE6))

   /* GPMC_AD14 (ZCZ ball V13) gpmc_ad14 (gpio1_14) */
   BONE_PIN(GPMC_AD14,default,GPMC_AD14(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD14,gpio,GPMC_AD14(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD14,gpio_pu,GPMC_AD14(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD14,gpio_pd,GPMC_AD14(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD14,eqep,GPMC_AD14(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE4))
   BONE_PIN(GPMC_AD14,pruin,GPMC_AD14(PIN_INPUT | MUX_MODE6))

   /* GPMC_AD11 (ZCZ ball U12) gpmc_ad11 (gpio0_27) */
   BONE_PIN(GPMC_AD11,default,GPMC_AD11(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD11,gpio,GPMC_AD11(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD11,gpio_pu,GPMC_AD11(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD11,gpio_pd,GPMC_AD11(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD11,pwm,GPMC_AD11(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE4))

   /* GPMC_CLK (ZCZ ball V12) gpmc_clk (gpio2_1) */
   BONE_PIN(GPMC_CLK,default,GPMC_CLK(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_CLK,gpio,GPMC_CLK(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_CLK,gpio_pu,GPMC_CLK(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_CLK,gpio_pd,GPMC_CLK(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))

   /* GPMC_AD8 (ZCZ ball U10) gpmc_ad8 (gpio0_22) */
   BONE_PIN(GPMC_AD8,default,GPMC_AD8(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD8,gpio,GPMC_AD8(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD8,gpio_pu,GPMC_AD8(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD8,gpio_pd,GPMC_AD8(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_AD8,pwm,GPMC_AD8(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE4))

   /* LCD_VSYNC (ZCZ ball U5) lcd_vsync (hdmi) */
   BONE_PIN(LCD_VSYNC,default,LCD_VSYNC(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_VSYNC,gpio,LCD_VSYNC(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_VSYNC,gpio_pu,LCD_VSYNC(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_VSYNC,gpio_pd,LCD_VSYNC(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_VSYNC,pruout,LCD_VSYNC(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
   BONE_PIN(LCD_VSYNC,pruin,LCD_VSYNC(PIN_INPUT | MUX_MODE6))

   /* LCD_PLCK (ZCZ ball V5) lcd_pclk (hdmi) */
   BONE_PIN(LCD_PLCK,default,LCD_PLCK(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_PLCK,gpio,LCD_PLCK(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_PLCK,gpio_pu,LCD_PLCK(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_PLCK,gpio_pd,LCD_PLCK(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_PLCK,pruout,LCD_PLCK(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
   BONE_PIN(LCD_PLCK,pruin,LCD_PLCK(PIN_INPUT | MUX_MODE6))

   /* LCD_HSYNC (ZCZ ball R5) lcd_hsync (hdmi) */
   BONE_PIN(LCD_HSYNC,default,LCD_HSYNC(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_HSYNC,gpio,LCD_HSYNC(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_HSYNC,gpio_pu,LCD_HSYNC(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_HSYNC,gpio_pd,LCD_HSYNC(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_HSYNC,pruout,LCD_HSYNC(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
   BONE_PIN(LCD_HSYNC,pruin,LCD_HSYNC(PIN_INPUT | MUX_MODE6))

   /* LCD_AC_BIAS_EN (ZCZ ball R6) lcd_ac_bias_en (hdmi) */
   BONE_PIN(LCD_AC_BIAS_EN,default,LCD_AC_BIAS_EN(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_AC_BIAS_EN,gpio,LCD_AC_BIAS_EN(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_AC_BIAS_EN,gpio_pu,LCD_AC_BIAS_EN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_AC_BIAS_EN,gpio_pd,LCD_AC_BIAS_EN(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_AC_BIAS_EN,pruout,LCD_AC_BIAS_EN(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
   BONE_PIN(LCD_AC_BIAS_EN,pruin,LCD_AC_BIAS_EN(PIN_INPUT | MUX_MODE6))

   /* LCD_DATA14 (ZCZ ball V4) lcd_data14 (hdmi) */
   BONE_PIN(LCD_DATA14,default,LCD_DATA14(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA14,gpio,LCD_DATA14(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA14,gpio_pu,LCD_DATA14(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA14,gpio_pd,LCD_DATA14(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA14,eqep,LCD_DATA14(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE2))
   BONE_PIN(LCD_DATA14,uart,LCD_DATA14(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE4))

   /* LCD_DATA15 (ZCZ ball T5) lcd_data15 (hdmi) */
   BONE_PIN(LCD_DATA15,default,LCD_DATA15(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA15,gpio,LCD_DATA15(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA15,gpio_pu,LCD_DATA15(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA15,gpio_pd,LCD_DATA15(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA15,eqep,LCD_DATA15(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE2))

   /* LCD_DATA13 (ZCZ ball V3) lcd_data13 (hdmi) */
   BONE_PIN(LCD_DATA13,default,LCD_DATA13(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA13,gpio,LCD_DATA13(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA13,gpio_pu,LCD_DATA13(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA13,gpio_pd,LCD_DATA13(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA13,eqep,LCD_DATA13(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE2))

   /* LCD_DATA11 (ZCZ ball U4) lcd_data11 (hdmi) */
   BONE_PIN(LCD_DATA11,default,LCD_DATA11(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA11,gpio,LCD_DATA11(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA11,gpio_pu,LCD_DATA11(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA11,gpio_pd,LCD_DATA11(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA11,pwm,LCD_DATA11(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE2))

   /* LCD_DATA12 (ZCZ ball V2) lcd_data12 (hdmi) */
   BONE_PIN(LCD_DATA12,default,LCD_DATA12(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA12,gpio,LCD_DATA12(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA12,gpio_pu,LCD_DATA12(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA12,gpio_pd,LCD_DATA12(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA12,eqep,LCD_DATA12(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE2))

   /* LCD_DATA10 (ZCZ ball U3) lcd_data10 (hdmi) */
   BONE_PIN(LCD_DATA10,default,LCD_DATA10(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA10,gpio,LCD_DATA10(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA10,gpio_pu,LCD_DATA10(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA10,gpio_pd,LCD_DATA10(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA10,pwm,LCD_DATA10(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE2))

   /* LCD_DATA8 (ZCZ ball U1) lcd_data8 (hdmi) */
   BONE_PIN(LCD_DATA8,default,LCD_DATA8(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA8,gpio,LCD_DATA8(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA8,gpio_pu,LCD_DATA8(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA8,gpio_pd,LCD_DATA8(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA8,pwm,LCD_DATA8(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE2))
   BONE_PIN(LCD_DATA8,uart,LCD_DATA8(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE4))

   /* LCD_DATA9 (ZCZ ball U2) lcd_data9 (hdmi) */
   BONE_PIN(LCD_DATA9,default,LCD_DATA9(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA9,gpio,LCD_DATA9(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA9,gpio_pu,LCD_DATA9(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA9,gpio_pd,LCD_DATA9(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA9,pwm,LCD_DATA9(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE2))
   BONE_PIN(LCD_DATA9,uart,LCD_DATA9(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE4))

   /* LCD_DATA6 (ZCZ ball T3) lcd_data6 (hdmi) */
   BONE_PIN(LCD_DATA6,default,LCD_DATA6(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA6,gpio,LCD_DATA6(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA6,gpio_pu,LCD_DATA6(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA6,gpio_pd,LCD_DATA6(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA6,eqep,LCD_DATA6(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE3))
   BONE_PIN(LCD_DATA6,pruout,LCD_DATA6(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
   BONE_PIN(LCD_DATA6,pruin,LCD_DATA6(PIN_INPUT | MUX_MODE6))

   /* LCD_DATA7 (ZCZ ball T4) lcd_data7 (hdmi) */
   BONE_PIN(LCD_DATA7,default,LCD_DATA7(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA7,gpio,LCD_DATA7(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA7,gpio_pu,LCD_DATA7(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA7,gpio_pd,LCD_DATA7(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA7,eqep,LCD_DATA7(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE3))
   BONE_PIN(LCD_DATA7,pruout,LCD_DATA7(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
   BONE_PIN(LCD_DATA7,pruin,LCD_DATA7(PIN_INPUT | MUX_MODE6))

   /* LCD_DATA4 (ZCZ ball T1) lcd_data4 (hdmi) */
   BONE_PIN(LCD_DATA4,default,LCD_DATA4(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA4,gpio,LCD_DATA4(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA4,gpio_pu,LCD_DATA4(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA4,gpio_pd,LCD_DATA4(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA4,eqep,LCD_DATA4(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE3))
   BONE_PIN(LCD_DATA4,pruout,LCD_DATA4(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
   BONE_PIN(LCD_DATA4,pruin,LCD_DATA4(PIN_INPUT | MUX_MODE6))

   /* LCD_DATA5 (ZCZ ball T2) lcd_data5 (hdmi) */
   BONE_PIN(LCD_DATA5,default,LCD_DATA5(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA5,gpio,LCD_DATA5(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA5,gpio_pu,LCD_DATA5(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA5,gpio_pd,LCD_DATA5(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA5,eqep,LCD_DATA5(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE3))
   BONE_PIN(LCD_DATA5,pruout,LCD_DATA5(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
   BONE_PIN(LCD_DATA5,pruin,LCD_DATA5(PIN_INPUT | MUX_MODE6))

   /* LCD_DATA2 (ZCZ ball R3) lcd_data2 (hdmi) */
   BONE_PIN(LCD_DATA2,default,LCD_DATA2(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA2,gpio,LCD_DATA2(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA2,gpio_pu,LCD_DATA2(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA2,gpio_pd,LCD_DATA2(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA2,pwm,LCD_DATA2(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE3))
   BONE_PIN(LCD_DATA2,pruout,LCD_DATA2(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
   BONE_PIN(LCD_DATA2,pruin,LCD_DATA2(PIN_INPUT | MUX_MODE6))

   /* LCD_DATA3 (ZCZ ball R4) lcd_data3 (hdmi) */
   BONE_PIN(LCD_DATA3,default,LCD_DATA3(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA3,gpio,LCD_DATA3(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA3,gpio_pu,LCD_DATA3(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA3,gpio_pd,LCD_DATA3(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA3,pwm,LCD_DATA3(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE3))
   BONE_PIN(LCD_DATA3,pruout,LCD_DATA3(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
   BONE_PIN(LCD_DATA3,pruin,LCD_DATA3(PIN_INPUT | MUX_MODE6))

   /* LCD_DATA0 (ZCZ ball R1) lcd_data0 (hdmi) */
   BONE_PIN(LCD_DATA0,default,LCD_DATA0(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA0,gpio,LCD_DATA0(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA0,gpio_pu,LCD_DATA0(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA0,gpio_pd,LCD_DATA0(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA0,pwm,LCD_DATA0(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE3))
   BONE_PIN(LCD_DATA0,pruout,LCD_DATA0(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
   BONE_PIN(LCD_DATA0,pruin,LCD_DATA0(PIN_INPUT | MUX_MODE6))

   /* LCD_DATA1 (ZCZ ball R2) lcd_data1 (hdmi) */
   BONE_PIN(LCD_DATA1,default,LCD_DATA1(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA1,gpio,LCD_DATA1(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA1,gpio_pu,LCD_DATA1(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA1,gpio_pd,LCD_DATA1(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(LCD_DATA1,pwm,LCD_DATA1(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE3))
   BONE_PIN(LCD_DATA1,pruout,LCD_DATA1(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
   BONE_PIN(LCD_DATA1,pruin,LCD_DATA1(PIN_INPUT | MUX_MODE6))

   
   /* GPMC_WAIT0 (ZCZ ball T17) gpmc_wait0 (gpio0_30) */
   BONE_PIN(GPMC_WAIT0,default,GPMC_WAIT0(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_WAIT0,gpio,GPMC_WAIT0(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_WAIT0,gpio_pu,GPMC_WAIT0(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_WAIT0,gpio_pd,GPMC_WAIT0(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_WAIT0,uart,GPMC_WAIT0(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE6))

   /* GPMC_BEN1 (ZCZ ball U18) gpmc_be1n (gpio1_28) */
   BONE_PIN(GPMC_BEN1,default,GPMC_BEN1(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_BEN1,gpio,GPMC_BEN1(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_BEN1,gpio_pu,GPMC_BEN1(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_BEN1,gpio_pd,GPMC_BEN1(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))

   /* GPMC_WPN (ZCZ ball U17) gpmc_wpn (gpio0_31) */
   BONE_PIN(GPMC_WPN,default,GPMC_WPN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_WPN,gpio,GPMC_WPN(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_WPN,gpio_pu,GPMC_WPN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_WPN,gpio_pd,GPMC_WPN(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_WPN,uart,GPMC_WPN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE6))

   /* GPMC_A2 (ZCZ ball U14) gpmc_a2 (gpio1_18) */
   BONE_PIN(GPMC_A2,default,GPMC_A2(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_A2,gpio,GPMC_A2(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_A2,gpio_pu,GPMC_A2(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_A2,gpio_pd,GPMC_A2(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_A2,pwm,GPMC_A2(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE6))

   /* GPMC_A0 (ZCZ ball R13) gpmc_a0 (gpio1_16) */
   BONE_PIN(GPMC_A0,default,GPMC_A0(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_A0,gpio,GPMC_A0(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_A0,gpio_pu,GPMC_A0(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_A0,gpio_pd,GPMC_A0(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_A0,pwm,GPMC_A0(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE6))

   /* GPMC_A3 (ZCZ ball T14) gpmc_a3 (gpio1_19) */
   BONE_PIN(GPMC_A3,default,GPMC_A3(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_A3,gpio,GPMC_A3(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_A3,gpio_pu,GPMC_A3(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_A3,gpio_pd,GPMC_A3(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_A3,pwm,GPMC_A3(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE6))

   /* SPI0_CS0 (ZCZ ball A16) spi0_cs0 (gpio0_5) */
   BONE_PIN(SPI0_CS0,default,SPI0_CS0(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(SPI0_CS0,gpio,SPI0_CS0(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(SPI0_CS0,gpio_pu,SPI0_CS0(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(SPI0_CS0,gpio_pd,SPI0_CS0(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(SPI0_CS0,spi_cs,SPI0_CS0(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE0))
   BONE_PIN(SPI0_CS0,i2c,SPI0_CS0(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE2))
   BONE_PIN(SPI0_CS0,pwm,SPI0_CS0(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE3))
   BONE_PIN(SPI0_CS0,pru_uart,SPI0_CS0(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE4))

   /* SPI0_D1 (ZCZ ball B16) spi0_d1 (gpio0_4) */
   BONE_PIN(SPI0_D1,default,SPI0_D1(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(SPI0_D1,gpio,SPI0_D1(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(SPI0_D1,gpio_pu,SPI0_D1(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(SPI0_D1,gpio_pd,SPI0_D1(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(SPI0_D1,spi,SPI0_D1(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE0))
   BONE_PIN(SPI0_D1,i2c,SPI0_D1(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE2))
   BONE_PIN(SPI0_D1,pwm,SPI0_D1(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE3))
   BONE_PIN(SPI0_D1,pru_uart,SPI0_D1(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE4))

   /* UART1_RTSN (ZCZ ball D17) uart1_rtsn (i2c2_scl) */
   BONE_PIN(UART1_RTSN,default,UART1_RTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE3))
   BONE_PIN(UART1_RTSN,gpio,UART1_RTSN(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(UART1_RTSN,gpio_pu,UART1_RTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(UART1_RTSN,gpio_pd,UART1_RTSN(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(UART1_RTSN,timer,UART1_RTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE1))
   BONE_PIN(UART1_RTSN,can,UART1_RTSN(PIN_INPUT_PULLUP | MUX_MODE2))
   BONE_PIN(UART1_RTSN,i2c,UART1_RTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE3))
   BONE_PIN(UART1_RTSN,spi_cs,UART1_RTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE4))
   BONE_PIN(UART1_RTSN,pru_uart,UART1_RTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE5))

   /* UART1_CTSN (ZCZ ball D18) uart1_ctsn (i2c2_sda) */
   BONE_PIN(UART1_CTSN,default,UART1_CTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE3))
   BONE_PIN(UART1_CTSN,gpio,UART1_CTSN(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(UART1_CTSN,gpio_pu,UART1_CTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(UART1_CTSN,gpio_pd,UART1_CTSN(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(UART1_CTSN,timer,UART1_CTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE1))
   BONE_PIN(UART1_CTSN,can,UART1_CTSN(PIN_OUTPUT_PULLUP | MUX_MODE2))
   BONE_PIN(UART1_CTSN,i2c,UART1_CTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE3))
   BONE_PIN(UART1_CTSN,spi_cs,UART1_CTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE4))
   BONE_PIN(UART1_CTSN,pru_uart,UART1_CTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE5))

   /* SPI0_D0 (ZCZ ball B17) spi0_d0 (gpio0_3) */
   BONE_PIN(SPI0_D0,default,SPI0_D0(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(SPI0_D0,gpio,SPI0_D0(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(SPI0_D0,gpio_pu,SPI0_D0(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(SPI0_D0,gpio_pd,SPI0_D0(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(SPI0_D0,spi,SPI0_D0(PIN_INPUT_PULLUP | MUX_MODE0))
   BONE_PIN(SPI0_D0,uart,SPI0_D0(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE1))
   BONE_PIN(SPI0_D0,i2c,SPI0_D0(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE2))
   BONE_PIN(SPI0_D0,pwm,SPI0_D0(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE3))
   BONE_PIN(SPI0_D0,pru_uart,SPI0_D0(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE4))

   /* SPI0_SCLK (ZCZ ball A17) spi0_sclk (gpio0_2) */
   BONE_PIN(SPI0_SCLK,default,SPI0_SCLK(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(SPI0_SCLK,gpio,SPI0_SCLK(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(SPI0_SCLK,gpio_pu,SPI0_SCLK(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(SPI0_SCLK,gpio_pd,SPI0_SCLK(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(SPI0_SCLK,spi_sclk,SPI0_SCLK(PIN_INPUT_PULLUP | MUX_MODE0))
   BONE_PIN(SPI0_SCLK,uart,SPI0_SCLK(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE1))
   BONE_PIN(SPI0_SCLK,i2c,SPI0_SCLK(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE2))
   BONE_PIN(SPI0_SCLK,pwm,SPI0_SCLK(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE3))
   BONE_PIN(SPI0_SCLK,pru_uart,SPI0_SCLK(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE4))

   /* GPMC_A1 (ZCZ ball V14) gpmc_a1 (gpio1_17) */
   BONE_PIN(GPMC_A1,default,GPMC_A1(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_A1,gpio,GPMC_A1(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_A1,gpio_pu,GPMC_A1(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_A1,gpio_pd,GPMC_A1(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(GPMC_A1,pwm,GPMC_A1(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE6))

   /* UART1_TXD (ZCZ ball D15) uart1_txd (gpio0_15) */
   BONE_PIN(UART1_TXD,default,UART1_TXD(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(UART1_TXD,gpio,UART1_TXD(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(UART1_TXD,gpio_pu,UART1_TXD(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(UART1_TXD,gpio_pd,UART1_TXD(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(UART1_TXD,uart,UART1_TXD(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE0))
   BONE_PIN(UART1_TXD,can,UART1_TXD(PIN_INPUT_PULLUP | MUX_MODE2))
   BONE_PIN(UART1_TXD,i2c,UART1_TXD(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE3))
   BONE_PIN(UART1_TXD,pru_uart,UART1_TXD(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE5))
   BONE_PIN(UART1_TXD,pruin,UART1_TXD(PIN_INPUT | MUX_MODE6))

   /* MCASP0_AHCLKX (ZCZ ball A14) mcasp0_ahclkx (audio) */
   BONE_PIN(MCASP0_AHCLKX,default,MCASP0_AHCLKX(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_AHCLKX,gpio,MCASP0_AHCLKX(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_AHCLKX,gpio_pu,MCASP0_AHCLKX(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_AHCLKX,gpio_pd,MCASP0_AHCLKX(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_AHCLKX,eqep,MCASP0_AHCLKX(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE1))
   BONE_PIN(MCASP0_AHCLKX,pruout,MCASP0_AHCLKX(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
   BONE_PIN(MCASP0_AHCLKX,pruin,MCASP0_AHCLKX(PIN_INPUT | MUX_MODE6))

   /* UART1_RXD (ZCZ ball D16) uart1_rxd (gpio0_14) */
   BONE_PIN(UART1_RXD,default,UART1_RXD(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(UART1_RXD,gpio,UART1_RXD(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(UART1_RXD,gpio_pu,UART1_RXD(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(UART1_RXD,gpio_pd,UART1_RXD(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(UART1_RXD,uart,UART1_RXD(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE0))
   BONE_PIN(UART1_RXD,can,UART1_RXD(PIN_OUTPUT_PULLUP | MUX_MODE2))
   BONE_PIN(UART1_RXD,i2c,UART1_RXD(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE3))
   BONE_PIN(UART1_RXD,pru_uart,UART1_RXD(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE5))
   BONE_PIN(UART1_RXD,pruin,UART1_RXD(PIN_INPUT | MUX_MODE6))

   /* MCASP0_FSR (ZCZ ball C13) mcasp0_fsr (gpio3_19) */
   BONE_PIN(MCASP0_FSR,default,MCASP0_FSR(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_FSR,gpio,MCASP0_FSR(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_FSR,gpio_pu,MCASP0_FSR(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_FSR,gpio_pd,MCASP0_FSR(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_FSR,eqep,MCASP0_FSR(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE1))
   BONE_PIN(MCASP0_FSR,pruout,MCASP0_FSR(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
   BONE_PIN(MCASP0_FSR,pruin,MCASP0_FSR(PIN_INPUT | MUX_MODE6))

   /* MCASP0_AHCLKR (ZCZ ball C12) mcasp0_ahclkr (audio) */
   BONE_PIN(MCASP0_AHCLKR,default,MCASP0_AHCLKR(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_AHCLKR,gpio,MCASP0_AHCLKR(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_AHCLKR,gpio_pu,MCASP0_AHCLKR(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_AHCLKR,gpio_pd,MCASP0_AHCLKR(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_AHCLKR,pwm,MCASP0_AHCLKR(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE1))
   BONE_PIN(MCASP0_AHCLKR,spi_cs,MCASP0_AHCLKR(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE3))
   BONE_PIN(MCASP0_AHCLKR,pwm2,MCASP0_AHCLKR(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE4))
   BONE_PIN(MCASP0_AHCLKR,pruout,MCASP0_AHCLKR(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
   BONE_PIN(MCASP0_AHCLKR,pruin,MCASP0_AHCLKR(PIN_INPUT | MUX_MODE6))

   /* MCASP0_FSX (ZCZ ball B13) mcasp0_fsx (audio) */
   BONE_PIN(MCASP0_FSX,default,MCASP0_FSX(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_FSX,gpio,MCASP0_FSX(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_FSX,gpio_pu,MCASP0_FSX(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_FSX,gpio_pd,MCASP0_FSX(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_FSX,pwm,MCASP0_FSX(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE1))
   BONE_PIN(MCASP0_FSX,spi,MCASP0_FSX(PIN_INPUT_PULLUP | MUX_MODE3))
   BONE_PIN(MCASP0_FSX,pruout,MCASP0_FSX(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
   BONE_PIN(MCASP0_FSX,pruin,MCASP0_FSX(PIN_INPUT | MUX_MODE6))

   /* MCASP0_AXR0 (ZCZ ball D12) mcasp0_axr0 (gpio3_16) */
   BONE_PIN(MCASP0_AXR0,default,MCASP0_AXR0(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_AXR0,gpio,MCASP0_AXR0(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_AXR0,gpio_pu,MCASP0_AXR0(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_AXR0,gpio_pd,MCASP0_AXR0(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_AXR0,pwm,MCASP0_AXR0(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE1))
   BONE_PIN(MCASP0_AXR0,spi,MCASP0_AXR0(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE3))
   BONE_PIN(MCASP0_AXR0,pruout,MCASP0_AXR0(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
   BONE_PIN(MCASP0_AXR0,pruin,MCASP0_AXR0(PIN_INPUT | MUX_MODE6))

   /* MCASP0_ACLKX (ZCZ ball A13) mcasp0_aclkx (audio) */
   BONE_PIN(MCASP0_ACLKX,default,MCASP0_ACLKX(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_ACLKX,gpio,MCASP0_ACLKX(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_ACLKX,gpio_pu,MCASP0_ACLKX(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_ACLKX,gpio_pd,MCASP0_ACLKX(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_ACLKX,pwm,MCASP0_ACLKX(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE1))
   BONE_PIN(MCASP0_ACLKX,spi_sclk,MCASP0_ACLKX(PIN_INPUT_PULLUP | MUX_MODE3))
   BONE_PIN(MCASP0_ACLKX,pruout,MCASP0_ACLKX(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
   BONE_PIN(MCASP0_ACLKX,pruin,MCASP0_ACLKX(PIN_INPUT | MUX_MODE6))

   /* XDMA_EVENT_INTR1 (ZCZ ball D14) xdma_event_intr1 (gpio0_20) */
   BONE_PIN(XDMA_EVENT_INTR1,default,XDMA_EVENT_INTR1(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(XDMA_EVENT_INTR1,gpio,XDMA_EVENT_INTR1(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(XDMA_EVENT_INTR1,gpio_pu,XDMA_EVENT_INTR1(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(XDMA_EVENT_INTR1,gpio_pd,XDMA_EVENT_INTR1(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(XDMA_EVENT_INTR1,timer,XDMA_EVENT_INTR1(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE4))
   BONE_PIN(XDMA_EVENT_INTR1,pruin,XDMA_EVENT_INTR1(PIN_INPUT | MUX_MODE5))

   /* MCASP0_AXR1 (ZCZ ball D13) mcasp0_axr1 (gpio3_20) */
   BONE_PIN(MCASP0_AXR1,default,MCASP0_AXR1(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_AXR1,gpio,MCASP0_AXR1(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_AXR1,gpio_pu,MCASP0_AXR1(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_AXR1,gpio_pd,MCASP0_AXR1(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_AXR1,eqep,MCASP0_AXR1(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE1))
   BONE_PIN(MCASP0_AXR1,pruout,MCASP0_AXR1(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
   BONE_PIN(MCASP0_AXR1,pruin,MCASP0_AXR1(PIN_INPUT | MUX_MODE6))

   /* ECAP0_IN_PWM0_OUT (ZCZ ball C18) eCAP0_in_PWM0_out (gpio0_7) */
   BONE_PIN(ECAP0_IN_PWM0_OUT,default,ECAP0_IN_PWM0_OUT(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(ECAP0_IN_PWM0_OUT,gpio,ECAP0_IN_PWM0_OUT(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(ECAP0_IN_PWM0_OUT,gpio_pu,ECAP0_IN_PWM0_OUT(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(ECAP0_IN_PWM0_OUT,gpio_pd,ECAP0_IN_PWM0_OUT(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(ECAP0_IN_PWM0_OUT,pwm,ECAP0_IN_PWM0_OUT(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE0))
   BONE_PIN(ECAP0_IN_PWM0_OUT,uart,ECAP0_IN_PWM0_OUT(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE1))
   BONE_PIN(ECAP0_IN_PWM0_OUT,spi_cs,ECAP0_IN_PWM0_OUT(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE2))
   BONE_PIN(ECAP0_IN_PWM0_OUT,pru_ecap_pwm,ECAP0_IN_PWM0_OUT(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE3))
   BONE_PIN(ECAP0_IN_PWM0_OUT,spi_sclk,ECAP0_IN_PWM0_OUT(PIN_INPUT_PULLUP | MUX_MODE4))

   /* MCASP0_ACLKR (ZCZ ball B12) mcasp0_aclkr (gpio3_18) */
   BONE_PIN(MCASP0_ACLKR,default,MCASP0_ACLKR(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_ACLKR,gpio,MCASP0_ACLKR(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_ACLKR,gpio_pu,MCASP0_ACLKR(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_ACLKR,gpio_pd,MCASP0_ACLKR(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
   BONE_PIN(MCASP0_ACLKR,eqep,MCASP0_ACLKR(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE1))
   BONE_PIN(MCASP0_ACLKR,pruout,MCASP0_ACLKR(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
   BONE_PIN(MCASP0_ACLKR,pruin,MCASP0_ACLKR(PIN_INPUT | MUX_MODE6))

    /* UART0_TXD (ZCZ ball E16) uart0_txd (uart0_txd) */
    BONE_PIN(UART0_TXD,default,UART0_TXD(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE0))
    BONE_PIN(UART0_TXD,gpio,UART0_TXD(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
    BONE_PIN(UART0_TXD,gpio_pu,UART0_TXD(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
    BONE_PIN(UART0_TXD,gpio_pd,UART0_TXD(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
    BONE_PIN(UART0_TXD,uart,UART0_TXD(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE0))
    BONE_PIN(UART0_TXD,spi_cs,UART0_TXD(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE1))
    BONE_PIN(UART0_TXD,can,UART0_TXD(PIN_INPUT_PULLUP | MUX_MODE2))
    BONE_PIN(UART0_TXD,i2c,UART0_TXD(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE3))
    BONE_PIN(UART0_TXD,pruout,UART0_TXD(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
    BONE_PIN(UART0_TXD,pruin,UART0_TXD(PIN_INPUT | MUX_MODE6))

    /* UART0_RXD (ZCZ ball E15) uart0_rxd (uart0_rxd) */
    BONE_PIN(UART0_RXD,default,UART0_RXD(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE0))
    BONE_PIN(UART0_RXD,gpio,UART0_RXD(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
    BONE_PIN(UART0_RXD,gpio_pu,UART0_RXD(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
    BONE_PIN(UART0_RXD,gpio_pd,UART0_RXD(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
    BONE_PIN(UART0_RXD,uart,UART0_RXD(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE0))
    BONE_PIN(UART0_RXD,spi_cs,UART0_RXD(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE1))
    BONE_PIN(UART0_RXD,can,UART0_RXD(PIN_OUTPUT_PULLUP | MUX_MODE2))
    BONE_PIN(UART0_RXD,i2c,UART0_RXD(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE3))
    BONE_PIN(UART0_RXD,pruout,UART0_RXD(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE5))
    BONE_PIN(UART0_RXD,pruin,UART0_RXD(PIN_INPUT | MUX_MODE6))

    /* GPMC_A11 (ZCZ ball V17) gpmc_a11 (gpio1_27) */
    BONE_PIN(GPMC_A11,default,GPMC_A11(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
    BONE_PIN(GPMC_A11,gpio,GPMC_A11(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
    BONE_PIN(GPMC_A11,gpio_pu,GPMC_A11(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
    BONE_PIN(GPMC_A11,gpio_pd,GPMC_A11(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))

    /* GPMC_A10 (ZCZ ball T16) gpmc_a10 (gpio1_26) */
    BONE_PIN(GPMC_A10,default,GPMC_A10(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
    BONE_PIN(GPMC_A10,gpio,GPMC_A10(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
    BONE_PIN(GPMC_A10,gpio_pu,GPMC_A10(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
    BONE_PIN(GPMC_A10,gpio_pd,GPMC_A10(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))

    /* GPMC_A9 (ZCZ ball U16) gpmc_a9 (gpio1_25) */
    BONE_PIN(GPMC_A9,default,GPMC_A9(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
    BONE_PIN(GPMC_A9,gpio,GPMC_A9(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
    BONE_PIN(GPMC_A9,gpio_pu,GPMC_A9(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
    BONE_PIN(GPMC_A9,gpio_pd,GPMC_A9(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))

    /* GPMC_A4 (ZCZ ball R14) gpmc_a4 (gpio1_20) */
    BONE_PIN(GPMC_A4,default,GPMC_A4(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
    BONE_PIN(GPMC_A4,gpio,GPMC_A4(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
    BONE_PIN(GPMC_A4,gpio_pu,GPMC_A4(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
    BONE_PIN(GPMC_A4,gpio_pd,GPMC_A4(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
    BONE_PIN(GPMC_A4,eqep,GPMC_A4(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE6))

    /* GPMC_CSN3 (ZCZ ball T13) gpmc_csn3 (gpio2_0) */
    BONE_PIN(GPMC_CSN3,default,GPMC_CSN3(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
    BONE_PIN(GPMC_CSN3,gpio,GPMC_CSN3(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
    BONE_PIN(GPMC_CSN3,gpio_pu,GPMC_CSN3(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
    BONE_PIN(GPMC_CSN3,gpio_pd,GPMC_CSN3(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))

    /* UART0_RTSN (ZCZ ball E17) uart0_rtsn (spi1_d1) */
    BONE_PIN(UART0_RTSN,default,UART0_RTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE4))
    BONE_PIN(UART0_RTSN,gpio,UART0_RTSN(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
    BONE_PIN(UART0_RTSN,gpio_pu,UART0_RTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
    BONE_PIN(UART0_RTSN,gpio_pd,UART0_RTSN(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
    BONE_PIN(UART0_RTSN,uart,UART0_RTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE1))
    BONE_PIN(UART0_RTSN,can,UART0_RTSN(PIN_INPUT_PULLUP | MUX_MODE2))
    BONE_PIN(UART0_RTSN,i2c,UART0_RTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE3))
    BONE_PIN(UART0_RTSN,spi,UART0_RTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE4))
    BONE_PIN(UART0_RTSN,spi_cs,UART0_RTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE5))

    /* UART0_CTSN (ZCZ ball E18) uart0_ctsn (spi1_d0) */
    BONE_PIN(UART0_CTSN,default,UART0_CTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE4))
    BONE_PIN(UART0_CTSN,gpio,UART0_CTSN(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
    BONE_PIN(UART0_CTSN,gpio_pu,UART0_CTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
    BONE_PIN(UART0_CTSN,gpio_pd,UART0_CTSN(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
    BONE_PIN(UART0_CTSN,uart,UART0_CTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE1))
    BONE_PIN(UART0_CTSN,can,UART0_CTSN(PIN_OUTPUT_PULLUP | MUX_MODE2))
    BONE_PIN(UART0_CTSN,i2c,UART0_CTSN(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE3))
    BONE_PIN(UART0_CTSN,spi,UART0_CTSN(PIN_INPUT_PULLUP | MUX_MODE4))

    /* XDMA_EVENT_INTR0 (ZCZ ball A15) xdma_event_intr0 (spi1_cs1) */
    BONE_PIN(XDMA_EVENT_INTR0,default,XDMA_EVENT_INTR0(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE4))
    BONE_PIN(XDMA_EVENT_INTR0,gpio,XDMA_EVENT_INTR0(PIN_OUTPUT | INPUT_EN | MUX_MODE7))
    BONE_PIN(XDMA_EVENT_INTR0,gpio_pu,XDMA_EVENT_INTR0(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE7))
    BONE_PIN(XDMA_EVENT_INTR0,gpio_pd,XDMA_EVENT_INTR0(PIN_OUTPUT_PULLDOWN | INPUT_EN | MUX_MODE7))
    BONE_PIN(XDMA_EVENT_INTR0,spi_cs,XDMA_EVENT_INTR0(PIN_OUTPUT_PULLUP | INPUT_EN | MUX_MODE4))
    BONE_PIN(XDMA_EVENT_INTR0,pruin,XDMA_EVENT_INTR0(PIN_INPUT | MUX_MODE5))
};

&ocp {	
	GPMC_ADVN_ALE_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "timer";
		pinctrl-0 = <&GPMC_ADVN_ALE_default_pin>;
		pinctrl-1 = <&GPMC_ADVN_ALE_gpio_pin>;
		pinctrl-2 = <&GPMC_ADVN_ALE_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_ADVN_ALE_gpio_pd_pin>;
		pinctrl-4 = <&GPMC_ADVN_ALE_timer_pin>;
	};
	GPMC_OEN_REN_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "timer";
		pinctrl-0 = <&GPMC_OEN_REN_default_pin>;
		pinctrl-1 = <&GPMC_OEN_REN_gpio_pin>;
		pinctrl-2 = <&GPMC_OEN_REN_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_OEN_REN_gpio_pd_pin>;
		pinctrl-4 = <&GPMC_OEN_REN_timer_pin>;
	};

	/* GPMC_BEN0_CLE (ZCZ ball T6) */
	GPMC_BEN0_CLE_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "timer";
		pinctrl-0 = <&GPMC_BEN0_CLE_default_pin>;
		pinctrl-1 = <&GPMC_BEN0_CLE_gpio_pin>;
		pinctrl-2 = <&GPMC_BEN0_CLE_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_BEN0_CLE_gpio_pd_pin>;
		pinctrl-4 = <&GPMC_BEN0_CLE_timer_pin>;
	};

	/* GPMC_WEN (ZCZ ball U6) */
	GPMC_WEN_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "timer";
		pinctrl-0 = <&GPMC_WEN_default_pin>;
		pinctrl-1 = <&GPMC_WEN_gpio_pin>;
		pinctrl-2 = <&GPMC_WEN_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_WEN_gpio_pd_pin>;
		pinctrl-4 = <&GPMC_WEN_timer_pin>;
	};

	/* GPMC_AD13 (ZCZ ball R12) */
	GPMC_AD13_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "eqep", "pruout";
		pinctrl-0 = <&GPMC_AD13_default_pin>;
		pinctrl-1 = <&GPMC_AD13_gpio_pin>;
		pinctrl-2 = <&GPMC_AD13_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_AD13_gpio_pd_pin>;
		pinctrl-4 = <&GPMC_AD13_eqep_pin>;
		pinctrl-5 = <&GPMC_AD13_pruout_pin>;
	};

	/* GPMC_AD12 (ZCZ ball T12) */
	GPMC_AD12_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "eqep", "pruout";
		pinctrl-0 = <&GPMC_AD12_default_pin>;
		pinctrl-1 = <&GPMC_AD12_gpio_pin>;
		pinctrl-2 = <&GPMC_AD12_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_AD12_gpio_pd_pin>;
		pinctrl-4 = <&GPMC_AD12_eqep_pin>;
		pinctrl-5 = <&GPMC_AD12_pruout_pin>;
	};

	/* GPMC_AD9 (ZCZ ball T10) */
	GPMC_AD9_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "pwm";
		pinctrl-0 = <&GPMC_AD9_default_pin>;
		pinctrl-1 = <&GPMC_AD9_gpio_pin>;
		pinctrl-2 = <&GPMC_AD9_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_AD9_gpio_pd_pin>;
		pinctrl-4 = <&GPMC_AD9_pwm_pin>;
	};

	/* GPMC_AD10 (ZCZ ball T11) wl1835: wl_en */

	/* GPMC_AD15 (ZCZ ball U13) */
	GPMC_AD15_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "eqep", "pru_ecap_pwm", "pruin";
		pinctrl-0 = <&GPMC_AD15_default_pin>;
		pinctrl-1 = <&GPMC_AD15_gpio_pin>;
		pinctrl-2 = <&GPMC_AD15_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_AD15_gpio_pd_pin>;
		pinctrl-4 = <&GPMC_AD15_eqep_pin>;
		pinctrl-5 = <&GPMC_AD15_pru_ecap_pwm_pin>;
		pinctrl-6 = <&GPMC_AD15_pruin_pin>;
	};

	/* GPMC_AD14 (ZCZ ball V13) */
	GPMC_AD14_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "eqep", "pruin";
		pinctrl-0 = <&GPMC_AD14_default_pin>;
		pinctrl-1 = <&GPMC_AD14_gpio_pin>;
		pinctrl-2 = <&GPMC_AD14_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_AD14_gpio_pd_pin>;
		pinctrl-4 = <&GPMC_AD14_eqep_pin>;
		pinctrl-5 = <&GPMC_AD14_pruin_pin>;
	};

	/* GPMC_AD11 (ZCZ ball U12) wl1835: wl_irq */

	/* GPMC_CLK (ZCZ ball V12) */
	GPMC_CLK_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd";
		pinctrl-0 = <&GPMC_CLK_default_pin>;
		pinctrl-1 = <&GPMC_CLK_gpio_pin>;
		pinctrl-2 = <&GPMC_CLK_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_CLK_gpio_pd_pin>;
	};

	/* GPMC_AD8 (ZCZ ball U10) */
	GPMC_AD8_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "pwm";
		pinctrl-0 = <&GPMC_AD8_default_pin>;
		pinctrl-1 = <&GPMC_AD8_gpio_pin>;
		pinctrl-2 = <&GPMC_AD8_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_AD8_gpio_pd_pin>;
		pinctrl-4 = <&GPMC_AD8_pwm_pin>;
	};

	/* LCD_VSYNC (ZCZ ball U5) hdmi */
	LCD_VSYNC_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "pruout", "pruin";
		pinctrl-0 = <&LCD_VSYNC_default_pin>;
		pinctrl-1 = <&LCD_VSYNC_gpio_pin>;
		pinctrl-2 = <&LCD_VSYNC_gpio_pu_pin>;
		pinctrl-3 = <&LCD_VSYNC_gpio_pd_pin>;
		pinctrl-4 = <&LCD_VSYNC_pruout_pin>;
		pinctrl-5 = <&LCD_VSYNC_pruin_pin>;
	};

	/* LCD_PLCK (ZCZ ball V5) hdmi */
	LCD_PLCK_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "pruout", "pruin";
		pinctrl-0 = <&LCD_PLCK_default_pin>;
		pinctrl-1 = <&LCD_PLCK_gpio_pin>;
		pinctrl-2 = <&LCD_PLCK_gpio_pu_pin>;
		pinctrl-3 = <&LCD_PLCK_gpio_pd_pin>;
		pinctrl-4 = <&LCD_PLCK_pruout_pin>;
		pinctrl-5 = <&LCD_PLCK_pruin_pin>;
	};

	/* LCD_HSYNC (ZCZ ball R5) hdmi */
	LCD_HSYNC_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "pruout", "pruin";
		pinctrl-0 = <&LCD_HSYNC_default_pin>;
		pinctrl-1 = <&LCD_HSYNC_gpio_pin>;
		pinctrl-2 = <&LCD_HSYNC_gpio_pu_pin>;
		pinctrl-3 = <&LCD_HSYNC_gpio_pd_pin>;
		pinctrl-4 = <&LCD_HSYNC_pruout_pin>;
		pinctrl-5 = <&LCD_HSYNC_pruin_pin>;
	};

	/* LCD_AC_BIAS_EN (ZCZ ball R6) hdmi */
	LCD_AC_BIAS_EN_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "pruout", "pruin";
		pinctrl-0 = <&LCD_AC_BIAS_EN_default_pin>;
		pinctrl-1 = <&LCD_AC_BIAS_EN_gpio_pin>;
		pinctrl-2 = <&LCD_AC_BIAS_EN_gpio_pu_pin>;
		pinctrl-3 = <&LCD_AC_BIAS_EN_gpio_pd_pin>;
		pinctrl-4 = <&LCD_AC_BIAS_EN_pruout_pin>;
		pinctrl-5 = <&LCD_AC_BIAS_EN_pruin_pin>;
	};

	/* LCD_DATA14 (ZCZ ball V4) hdmi */
	LCD_DATA14_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "uart", "eqep";
		pinctrl-0 = <&LCD_DATA14_default_pin>;
		pinctrl-1 = <&LCD_DATA14_gpio_pin>;
		pinctrl-2 = <&LCD_DATA14_gpio_pu_pin>;
		pinctrl-3 = <&LCD_DATA14_gpio_pd_pin>;
		pinctrl-4 = <&LCD_DATA14_uart_pin>;
		pinctrl-5 = <&LCD_DATA14_eqep_pin>;
	};

	/* LCD_DATA15 (ZCZ ball T5) hdmi */
	LCD_DATA15_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "eqep";
		pinctrl-0 = <&LCD_DATA15_default_pin>;
		pinctrl-1 = <&LCD_DATA15_gpio_pin>;
		pinctrl-2 = <&LCD_DATA15_gpio_pu_pin>;
		pinctrl-3 = <&LCD_DATA15_gpio_pd_pin>;
		pinctrl-4 = <&LCD_DATA15_eqep_pin>;
	};

	/* LCD_DATA13 (ZCZ ball V3) hdmi */
	LCD_DATA13_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "eqep";
		pinctrl-0 = <&LCD_DATA13_default_pin>;
		pinctrl-1 = <&LCD_DATA13_gpio_pin>;
		pinctrl-2 = <&LCD_DATA13_gpio_pu_pin>;
		pinctrl-3 = <&LCD_DATA13_gpio_pd_pin>;
		pinctrl-4 = <&LCD_DATA13_eqep_pin>;
	};

	/* LCD_DATA11 (ZCZ ball U4) hdmi */
	LCD_DATA11_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "pwm";
		pinctrl-0 = <&LCD_DATA11_default_pin>;
		pinctrl-1 = <&LCD_DATA11_gpio_pin>;
		pinctrl-2 = <&LCD_DATA11_gpio_pu_pin>;
		pinctrl-3 = <&LCD_DATA11_gpio_pd_pin>;
		pinctrl-4 = <&LCD_DATA11_pwm_pin>;
	};

	/* LCD_DATA12 (ZCZ ball V2) hdmi */
	LCD_DATA12_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "eqep";
		pinctrl-0 = <&LCD_DATA12_default_pin>;
		pinctrl-1 = <&LCD_DATA12_gpio_pin>;
		pinctrl-2 = <&LCD_DATA12_gpio_pu_pin>;
		pinctrl-3 = <&LCD_DATA12_gpio_pd_pin>;
		pinctrl-4 = <&LCD_DATA12_eqep_pin>;
	};

	/* LCD_DATA10 (ZCZ ball U3) hdmi */
	LCD_DATA10_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "pwm";
		pinctrl-0 = <&LCD_DATA10_default_pin>;
		pinctrl-1 = <&LCD_DATA10_gpio_pin>;
		pinctrl-2 = <&LCD_DATA10_gpio_pu_pin>;
		pinctrl-3 = <&LCD_DATA10_gpio_pd_pin>;
		pinctrl-4 = <&LCD_DATA10_pwm_pin>;
	};

	/* LCD_DATA8 (ZCZ ball U1) hdmi */
	LCD_DATA8_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "uart", "pwm";
		pinctrl-0 = <&LCD_DATA8_default_pin>;
		pinctrl-1 = <&LCD_DATA8_gpio_pin>;
		pinctrl-2 = <&LCD_DATA8_gpio_pu_pin>;
		pinctrl-3 = <&LCD_DATA8_gpio_pd_pin>;
		pinctrl-4 = <&LCD_DATA8_uart_pin>;
		pinctrl-5 = <&LCD_DATA8_pwm_pin>;
	};

	/* LCD_DATA9 (ZCZ ball U2) hdmi */
	LCD_DATA9_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "uart", "pwm";
		pinctrl-0 = <&LCD_DATA9_default_pin>;
		pinctrl-1 = <&LCD_DATA9_gpio_pin>;
		pinctrl-2 = <&LCD_DATA9_gpio_pu_pin>;
		pinctrl-3 = <&LCD_DATA9_gpio_pd_pin>;
		pinctrl-4 = <&LCD_DATA9_uart_pin>;
		pinctrl-5 = <&LCD_DATA9_pwm_pin>;
	};

	/* LCD_DATA6 (ZCZ ball T3) hdmi */
	LCD_DATA6_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "eqep", "pruout", "pruin";
		pinctrl-0 = <&LCD_DATA6_default_pin>;
		pinctrl-1 = <&LCD_DATA6_gpio_pin>;
		pinctrl-2 = <&LCD_DATA6_gpio_pu_pin>;
		pinctrl-3 = <&LCD_DATA6_gpio_pd_pin>;
		pinctrl-4 = <&LCD_DATA6_eqep_pin>;
		pinctrl-5 = <&LCD_DATA6_pruout_pin>;
		pinctrl-6 = <&LCD_DATA6_pruin_pin>;
	};

	/* LCD_DATA7 (ZCZ ball T4) hdmi */
	LCD_DATA7_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "eqep", "pruout", "pruin";
		pinctrl-0 = <&LCD_DATA7_default_pin>;
		pinctrl-1 = <&LCD_DATA7_gpio_pin>;
		pinctrl-2 = <&LCD_DATA7_gpio_pu_pin>;
		pinctrl-3 = <&LCD_DATA7_gpio_pd_pin>;
		pinctrl-4 = <&LCD_DATA7_eqep_pin>;
		pinctrl-5 = <&LCD_DATA7_pruout_pin>;
		pinctrl-6 = <&LCD_DATA7_pruin_pin>;
	};

	/* LCD_DATA4 (ZCZ ball T1) hdmi */
	LCD_DATA4_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "eqep", "pruout", "pruin";
		pinctrl-0 = <&LCD_DATA4_default_pin>;
		pinctrl-1 = <&LCD_DATA4_gpio_pin>;
		pinctrl-2 = <&LCD_DATA4_gpio_pu_pin>;
		pinctrl-3 = <&LCD_DATA4_gpio_pd_pin>;
		pinctrl-4 = <&LCD_DATA4_eqep_pin>;
		pinctrl-5 = <&LCD_DATA4_pruout_pin>;
		pinctrl-6 = <&LCD_DATA4_pruin_pin>;
	};

	/* LCD_DATA5 (ZCZ ball T2) hdmi */
	LCD_DATA5_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "eqep", "pruout", "pruin";
		pinctrl-0 = <&LCD_DATA5_default_pin>;
		pinctrl-1 = <&LCD_DATA5_gpio_pin>;
		pinctrl-2 = <&LCD_DATA5_gpio_pu_pin>;
		pinctrl-3 = <&LCD_DATA5_gpio_pd_pin>;
		pinctrl-4 = <&LCD_DATA5_eqep_pin>;
		pinctrl-5 = <&LCD_DATA5_pruout_pin>;
		pinctrl-6 = <&LCD_DATA5_pruin_pin>;
	};

	/* LCD_DATA2 (ZCZ ball R3) hdmi */
	LCD_DATA2_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "pwm", "pruout", "pruin";
		pinctrl-0 = <&LCD_DATA2_default_pin>;
		pinctrl-1 = <&LCD_DATA2_gpio_pin>;
		pinctrl-2 = <&LCD_DATA2_gpio_pu_pin>;
		pinctrl-3 = <&LCD_DATA2_gpio_pd_pin>;
		pinctrl-4 = <&LCD_DATA2_pwm_pin>;
		pinctrl-5 = <&LCD_DATA2_pruout_pin>;
		pinctrl-6 = <&LCD_DATA2_pruin_pin>;
	};

	/* LCD_DATA3 (ZCZ ball R4) hdmi */
	LCD_DATA3_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "pwm", "pruout", "pruin";
		pinctrl-0 = <&LCD_DATA3_default_pin>;
		pinctrl-1 = <&LCD_DATA3_gpio_pin>;
		pinctrl-2 = <&LCD_DATA3_gpio_pu_pin>;
		pinctrl-3 = <&LCD_DATA3_gpio_pd_pin>;
		pinctrl-4 = <&LCD_DATA3_pwm_pin>;
		pinctrl-5 = <&LCD_DATA3_pruout_pin>;
		pinctrl-6 = <&LCD_DATA3_pruin_pin>;
	};

	/* LCD_DATA0 (ZCZ ball R1) hdmi */
	LCD_DATA0_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "pwm", "pruout", "pruin";
		pinctrl-0 = <&LCD_DATA0_default_pin>;
		pinctrl-1 = <&LCD_DATA0_gpio_pin>;
		pinctrl-2 = <&LCD_DATA0_gpio_pu_pin>;
		pinctrl-3 = <&LCD_DATA0_gpio_pd_pin>;
		pinctrl-4 = <&LCD_DATA0_pwm_pin>;
		pinctrl-5 = <&LCD_DATA0_pruout_pin>;
		pinctrl-6 = <&LCD_DATA0_pruin_pin>;
	};

	/* LCD_DATA1 (ZCZ ball R2) hdmi */
	LCD_DATA1_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "pwm", "pruout", "pruin";
		pinctrl-0 = <&LCD_DATA1_default_pin>;
		pinctrl-1 = <&LCD_DATA1_gpio_pin>;
		pinctrl-2 = <&LCD_DATA1_gpio_pu_pin>;
		pinctrl-3 = <&LCD_DATA1_gpio_pd_pin>;
		pinctrl-4 = <&LCD_DATA1_pwm_pin>;
		pinctrl-5 = <&LCD_DATA1_pruout_pin>;
		pinctrl-6 = <&LCD_DATA1_pruin_pin>;
	};

	/* GPMC_WAIT0 (ZCZ ball T17) */
	GPMC_WAIT0_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "uart";
		pinctrl-0 = <&GPMC_WAIT0_default_pin>;
		pinctrl-1 = <&GPMC_WAIT0_gpio_pin>;
		pinctrl-2 = <&GPMC_WAIT0_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_WAIT0_gpio_pd_pin>;
		pinctrl-4 = <&GPMC_WAIT0_uart_pin>;
	};

	/* GPMC_BEN1 (ZCZ ball U18) */
	GPMC_BEN1_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd";
		pinctrl-0 = <&GPMC_BEN1_default_pin>;
		pinctrl-1 = <&GPMC_BEN1_gpio_pin>;
		pinctrl-2 = <&GPMC_BEN1_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_BEN1_gpio_pd_pin>;
	};

	/* GPMC_WPN (ZCZ ball U17) */
	GPMC_WPN_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "uart";
		pinctrl-0 = <&GPMC_WPN_default_pin>;
		pinctrl-1 = <&GPMC_WPN_gpio_pin>;
		pinctrl-2 = <&GPMC_WPN_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_WPN_gpio_pd_pin>;
		pinctrl-4 = <&GPMC_WPN_uart_pin>;
	};

	/* GPMC_A2 (ZCZ ball U14) */
	GPMC_A2_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "pwm";
		pinctrl-0 = <&GPMC_A2_default_pin>;
		pinctrl-1 = <&GPMC_A2_gpio_pin>;
		pinctrl-2 = <&GPMC_A2_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_A2_gpio_pd_pin>;
		pinctrl-4 = <&GPMC_A2_pwm_pin>;
	};

	/* GPMC_A0 (ZCZ ball R13) */
	GPMC_A0_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "pwm";
		pinctrl-0 = <&GPMC_A0_default_pin>;
		pinctrl-1 = <&GPMC_A0_gpio_pin>;
		pinctrl-2 = <&GPMC_A0_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_A0_gpio_pd_pin>;
		pinctrl-4 = <&GPMC_A0_pwm_pin>;
	};

	/* GPMC_A3 (ZCZ ball T14) */
	GPMC_A3_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "pwm";
		pinctrl-0 = <&GPMC_A3_default_pin>;
		pinctrl-1 = <&GPMC_A3_gpio_pin>;
		pinctrl-2 = <&GPMC_A3_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_A3_gpio_pd_pin>;
		pinctrl-4 = <&GPMC_A3_pwm_pin>;
	};

	/* SPI0_CS0 (ZCZ ball A16) */
	SPI0_CS0_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "spi_cs", "i2c", "pwm", "pru_uart";
		pinctrl-0 = <&SPI0_CS0_default_pin>;
		pinctrl-1 = <&SPI0_CS0_gpio_pin>;
		pinctrl-2 = <&SPI0_CS0_gpio_pu_pin>;
		pinctrl-3 = <&SPI0_CS0_gpio_pd_pin>;
		pinctrl-4 = <&SPI0_CS0_spi_cs_pin>;
		pinctrl-5 = <&SPI0_CS0_i2c_pin>;
		pinctrl-6 = <&SPI0_CS0_pwm_pin>;
		pinctrl-7 = <&SPI0_CS0_pru_uart_pin>;
	};

	/* SPI0_D1 (ZCZ ball B16) */
	SPI0_D1_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "spi", "i2c", "pwm", "pru_uart";
		pinctrl-0 = <&SPI0_D1_default_pin>;
		pinctrl-1 = <&SPI0_D1_gpio_pin>;
		pinctrl-2 = <&SPI0_D1_gpio_pu_pin>;
		pinctrl-3 = <&SPI0_D1_gpio_pd_pin>;
		pinctrl-4 = <&SPI0_D1_spi_pin>;
		pinctrl-5 = <&SPI0_D1_i2c_pin>;
		pinctrl-6 = <&SPI0_D1_pwm_pin>;
		pinctrl-7 = <&SPI0_D1_pru_uart_pin>;
	};

	/* UART1_RTSN (ZCZ ball D17) i2c */
	UART1_RTSN_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "spi_cs", "can", "i2c", "pru_uart", "timer";
		pinctrl-0 = <&UART1_RTSN_default_pin>;
		pinctrl-1 = <&UART1_RTSN_gpio_pin>;
		pinctrl-2 = <&UART1_RTSN_gpio_pu_pin>;
		pinctrl-3 = <&UART1_RTSN_gpio_pd_pin>;
		pinctrl-4 = <&UART1_RTSN_spi_cs_pin>;
		pinctrl-5 = <&UART1_RTSN_can_pin>;
		pinctrl-6 = <&UART1_RTSN_i2c_pin>;
		pinctrl-7 = <&UART1_RTSN_pru_uart_pin>;
		pinctrl-8 = <&UART1_RTSN_timer_pin>;
	};

	/* UART1_CTSN (ZCZ ball D18) i2c */
	UART1_CTSN_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "spi_cs", "can", "i2c", "pru_uart", "timer";
		pinctrl-0 = <&UART1_CTSN_default_pin>;
		pinctrl-1 = <&UART1_CTSN_gpio_pin>;
		pinctrl-2 = <&UART1_CTSN_gpio_pu_pin>;
		pinctrl-3 = <&UART1_CTSN_gpio_pd_pin>;
		pinctrl-4 = <&UART1_CTSN_spi_cs_pin>;
		pinctrl-5 = <&UART1_CTSN_can_pin>;
		pinctrl-6 = <&UART1_CTSN_i2c_pin>;
		pinctrl-7 = <&UART1_CTSN_pru_uart_pin>;
		pinctrl-8 = <&UART1_CTSN_timer_pin>;
	};

	/* SPI0_D0 (ZCZ ball B17) */
	SPI0_D0_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "spi", "uart", "i2c", "pwm", "pru_uart";
		pinctrl-0 = <&SPI0_D0_default_pin>;
		pinctrl-1 = <&SPI0_D0_gpio_pin>;
		pinctrl-2 = <&SPI0_D0_gpio_pu_pin>;
		pinctrl-3 = <&SPI0_D0_gpio_pd_pin>;
		pinctrl-4 = <&SPI0_D0_spi_pin>;
		pinctrl-5 = <&SPI0_D0_uart_pin>;
		pinctrl-6 = <&SPI0_D0_i2c_pin>;
		pinctrl-7 = <&SPI0_D0_pwm_pin>;
		pinctrl-8 = <&SPI0_D0_pru_uart_pin>;
	};

	/* SPI0_SCLK (ZCZ ball A17) */
	SPI0_SCLK_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "spi_sclk", "uart", "i2c", "pwm", "pru_uart";
		pinctrl-0 = <&SPI0_SCLK_default_pin>;
		pinctrl-1 = <&SPI0_SCLK_gpio_pin>;
		pinctrl-2 = <&SPI0_SCLK_gpio_pu_pin>;
		pinctrl-3 = <&SPI0_SCLK_gpio_pd_pin>;
		pinctrl-4 = <&SPI0_SCLK_spi_sclk_pin>;
		pinctrl-5 = <&SPI0_SCLK_uart_pin>;
		pinctrl-6 = <&SPI0_SCLK_i2c_pin>;
		pinctrl-7 = <&SPI0_SCLK_pwm_pin>;
		pinctrl-8 = <&SPI0_SCLK_pru_uart_pin>;
	};

	/* GPMC_A1 (ZCZ ball V14) */
	GPMC_A1_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "pwm";
		pinctrl-0 = <&GPMC_A1_default_pin>;
		pinctrl-1 = <&GPMC_A1_gpio_pin>;
		pinctrl-2 = <&GPMC_A1_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_A1_gpio_pd_pin>;
		pinctrl-4 = <&GPMC_A1_pwm_pin>;
	};

	/* UART1_TXD (ZCZ ball D15) */
	UART1_TXD_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "uart", "can", "i2c", "pru_uart", "pruin";
		pinctrl-0 = <&UART1_TXD_default_pin>;
		pinctrl-1 = <&UART1_TXD_gpio_pin>;
		pinctrl-2 = <&UART1_TXD_gpio_pu_pin>;
		pinctrl-3 = <&UART1_TXD_gpio_pd_pin>;
		pinctrl-4 = <&UART1_TXD_uart_pin>;
		pinctrl-5 = <&UART1_TXD_can_pin>;
		pinctrl-6 = <&UART1_TXD_i2c_pin>;
		pinctrl-7 = <&UART1_TXD_pru_uart_pin>;
		pinctrl-8 = <&UART1_TXD_pruin_pin>;
	};

	/* MCASP0_AHCLKX (ZCZ ball A14) audio */
	MCASP0_AHCLKX_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "eqep", "pruout", "pruin";
		pinctrl-0 = <&MCASP0_AHCLKX_default_pin>;
		pinctrl-1 = <&MCASP0_AHCLKX_gpio_pin>;
		pinctrl-2 = <&MCASP0_AHCLKX_gpio_pu_pin>;
		pinctrl-3 = <&MCASP0_AHCLKX_gpio_pd_pin>;
		pinctrl-4 = <&MCASP0_AHCLKX_eqep_pin>;
		pinctrl-5 = <&MCASP0_AHCLKX_pruout_pin>;
		pinctrl-6 = <&MCASP0_AHCLKX_pruin_pin>;
	};

	/* UART1_RXD (ZCZ ball D16) */
	UART1_RXD_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "uart", "can", "i2c", "pru_uart", "pruin";
		pinctrl-0 = <&UART1_RXD_default_pin>;
		pinctrl-1 = <&UART1_RXD_gpio_pin>;
		pinctrl-2 = <&UART1_RXD_gpio_pu_pin>;
		pinctrl-3 = <&UART1_RXD_gpio_pd_pin>;
		pinctrl-4 = <&UART1_RXD_uart_pin>;
		pinctrl-5 = <&UART1_RXD_can_pin>;
		pinctrl-6 = <&UART1_RXD_i2c_pin>;
		pinctrl-7 = <&UART1_RXD_pru_uart_pin>;
		pinctrl-8 = <&UART1_RXD_pruin_pin>;
	};

	/* MCASP0_FSR (ZCZ ball C13) */
	MCASP0_FSR_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "eqep", "pruout", "pruin";
		pinctrl-0 = <&MCASP0_FSR_default_pin>;
		pinctrl-1 = <&MCASP0_FSR_gpio_pin>;
		pinctrl-2 = <&MCASP0_FSR_gpio_pu_pin>;
		pinctrl-3 = <&MCASP0_FSR_gpio_pd_pin>;
		pinctrl-4 = <&MCASP0_FSR_eqep_pin>;
		pinctrl-5 = <&MCASP0_FSR_pruout_pin>;
		pinctrl-6 = <&MCASP0_FSR_pruin_pin>;
	};

	/* MCASP0_AHCLKR (ZCZ ball C12) audio */
	MCASP0_AHCLKR_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "spi_cs", "pwm", "pwm2", "pruout", "pruin";
		pinctrl-0 = <&MCASP0_AHCLKR_default_pin>;
		pinctrl-1 = <&MCASP0_AHCLKR_gpio_pin>;
		pinctrl-2 = <&MCASP0_AHCLKR_gpio_pu_pin>;
		pinctrl-3 = <&MCASP0_AHCLKR_gpio_pd_pin>;
		pinctrl-4 = <&MCASP0_AHCLKR_spi_cs_pin>;
		pinctrl-5 = <&MCASP0_AHCLKR_pwm_pin>;
		pinctrl-6 = <&MCASP0_AHCLKR_pwm2_pin>;
		pinctrl-7 = <&MCASP0_AHCLKR_pruout_pin>;
		pinctrl-8 = <&MCASP0_AHCLKR_pruin_pin>;
	};

	/* MCASP0_FSX (ZCZ ball B13) audio */
	MCASP0_FSX_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "spi", "pwm", "pruout", "pruin";
		pinctrl-0 = <&MCASP0_FSX_default_pin>;
		pinctrl-1 = <&MCASP0_FSX_gpio_pin>;
		pinctrl-2 = <&MCASP0_FSX_gpio_pu_pin>;
		pinctrl-3 = <&MCASP0_FSX_gpio_pd_pin>;
		pinctrl-4 = <&MCASP0_FSX_spi_pin>;
		pinctrl-5 = <&MCASP0_FSX_pwm_pin>;
		pinctrl-6 = <&MCASP0_FSX_pruout_pin>;
		pinctrl-7 = <&MCASP0_FSX_pruin_pin>;
	};

	/* MCASP0_ACLKX (ZCZ ball A13) audio */
	MCASP0_ACLKX_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "spi_sclk", "pwm", "pruout", "pruin";
		pinctrl-0 = <&MCASP0_ACLKX_default_pin>;
		pinctrl-1 = <&MCASP0_ACLKX_gpio_pin>;
		pinctrl-2 = <&MCASP0_ACLKX_gpio_pu_pin>;
		pinctrl-3 = <&MCASP0_ACLKX_gpio_pd_pin>;
		pinctrl-4 = <&MCASP0_ACLKX_spi_sclk_pin>;
		pinctrl-5 = <&MCASP0_ACLKX_pwm_pin>;
		pinctrl-6 = <&MCASP0_ACLKX_pruout_pin>;
		pinctrl-7 = <&MCASP0_ACLKX_pruin_pin>;
	};

	/* XDMA_EVENT_INTR1 (ZCZ ball D14) */
	XDMA_EVENT_INTR1_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "timer", "pruin";
		pinctrl-0 = <&XDMA_EVENT_INTR1_default_pin>;
		pinctrl-1 = <&XDMA_EVENT_INTR1_gpio_pin>;
		pinctrl-2 = <&XDMA_EVENT_INTR1_gpio_pu_pin>;
		pinctrl-3 = <&XDMA_EVENT_INTR1_gpio_pd_pin>;
		pinctrl-4 = <&XDMA_EVENT_INTR1_timer_pin>;
		pinctrl-5 = <&XDMA_EVENT_INTR1_pruin_pin>;
	};

	/* XDMA_EVENT_INTR1.1 */
	/* MCASP0_AXR1 (ZCZ ball D13) */
	MCASP0_AXR1_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "eqep", "pruout", "pruin";
		pinctrl-0 = <&MCASP0_AXR1_default_pin>;
		pinctrl-1 = <&MCASP0_AXR1_gpio_pin>;
		pinctrl-2 = <&MCASP0_AXR1_gpio_pu_pin>;
		pinctrl-3 = <&MCASP0_AXR1_gpio_pd_pin>;
		pinctrl-4 = <&MCASP0_AXR1_eqep_pin>;
		pinctrl-5 = <&MCASP0_AXR1_pruout_pin>;
		pinctrl-6 = <&MCASP0_AXR1_pruin_pin>;
	};

	/* ECAP0_IN_PWM0_OUT (ZCZ ball C18) */
	ECAP0_IN_PWM0_OUT_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "spi_cs", "spi_sclk", "uart", "pwm", "pru_ecap_pwm";
		pinctrl-0 = <&ECAP0_IN_PWM0_OUT_default_pin>;
		pinctrl-1 = <&ECAP0_IN_PWM0_OUT_gpio_pin>;
		pinctrl-2 = <&ECAP0_IN_PWM0_OUT_gpio_pu_pin>;
		pinctrl-3 = <&ECAP0_IN_PWM0_OUT_gpio_pd_pin>;
		pinctrl-4 = <&ECAP0_IN_PWM0_OUT_spi_cs_pin>;
		pinctrl-5 = <&ECAP0_IN_PWM0_OUT_spi_sclk_pin>;
		pinctrl-6 = <&ECAP0_IN_PWM0_OUT_uart_pin>;
		pinctrl-7 = <&ECAP0_IN_PWM0_OUT_pwm_pin>;
		pinctrl-8 = <&ECAP0_IN_PWM0_OUT_pru_ecap_pwm_pin>;
	};

	/* MCASP0_ACLKR (ZCZ ball B12) */
	MCASP0_ACLKR_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "eqep", "pruout", "pruin";
		pinctrl-0 = <&MCASP0_ACLKR_default_pin>;
		pinctrl-1 = <&MCASP0_ACLKR_gpio_pin>;
		pinctrl-2 = <&MCASP0_ACLKR_gpio_pu_pin>;
		pinctrl-3 = <&MCASP0_ACLKR_gpio_pd_pin>;
		pinctrl-4 = <&MCASP0_ACLKR_eqep_pin>;
		pinctrl-5 = <&MCASP0_ACLKR_pruout_pin>;
		pinctrl-6 = <&MCASP0_ACLKR_pruin_pin>;
	};

	/* UART0_TXD (ZCZ ball E16) uart */
	UART0_TXD_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "spi_cs", "uart", "can", "i2c", "pruout", "pruin";
		pinctrl-0 = <&UART0_TXD_default_pin>;
		pinctrl-1 = <&UART0_TXD_gpio_pin>;
		pinctrl-2 = <&UART0_TXD_gpio_pu_pin>;
		pinctrl-3 = <&UART0_TXD_gpio_pd_pin>;
		pinctrl-4 = <&UART0_TXD_spi_cs_pin>;
		pinctrl-5 = <&UART0_TXD_uart_pin>;
		pinctrl-6 = <&UART0_TXD_can_pin>;
		pinctrl-7 = <&UART0_TXD_i2c_pin>;
		pinctrl-8 = <&UART0_TXD_pruout_pin>;
		pinctrl-9 = <&UART0_TXD_pruin_pin>;
	};

	/* UART0_RXD (ZCZ ball E15) uart */
	UART0_RXD_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "spi_cs", "uart", "can", "i2c", "pruout", "pruin";
		pinctrl-0 = <&UART0_RXD_default_pin>;
		pinctrl-1 = <&UART0_RXD_gpio_pin>;
		pinctrl-2 = <&UART0_RXD_gpio_pu_pin>;
		pinctrl-3 = <&UART0_RXD_gpio_pd_pin>;
		pinctrl-4 = <&UART0_RXD_spi_cs_pin>;
		pinctrl-5 = <&UART0_RXD_uart_pin>;
		pinctrl-6 = <&UART0_RXD_can_pin>;
		pinctrl-7 = <&UART0_RXD_i2c_pin>;
		pinctrl-8 = <&UART0_RXD_pruout_pin>;
		pinctrl-9 = <&UART0_RXD_pruin_pin>;
	};

	/* GPMC_AD10 (ZCZ ball T11) */
	GPMC_AD10_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "pwm";
		pinctrl-0 = <&GPMC_AD10_default_pin>;
		pinctrl-1 = <&GPMC_AD10_gpio_pin>;
		pinctrl-2 = <&GPMC_AD10_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_AD10_gpio_pd_pin>;
		pinctrl-4 = <&GPMC_AD10_pwm_pin>;
	};

	/* GPMC_A11 (ZCZ ball V17) */
	GPMC_A11_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd";
		pinctrl-0 = <&GPMC_A11_default_pin>;
		pinctrl-1 = <&GPMC_A11_gpio_pin>;
		pinctrl-2 = <&GPMC_A11_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_A11_gpio_pd_pin>;
	};

	/* GPMC_A10 (ZCZ ball T16) */
	GPMC_A10_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd";
		pinctrl-0 = <&GPMC_A10_default_pin>;
		pinctrl-1 = <&GPMC_A10_gpio_pin>;
		pinctrl-2 = <&GPMC_A10_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_A10_gpio_pd_pin>;
	};

	/* GPMC_A9 (ZCZ ball U16) */
	GPMC_A9_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd";
		pinctrl-0 = <&GPMC_A9_default_pin>;
		pinctrl-1 = <&GPMC_A9_gpio_pin>;
		pinctrl-2 = <&GPMC_A9_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_A9_gpio_pd_pin>;
	};

	/* GPMC_A4 (ZCZ ball R14) */
	GPMC_A4_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "eqep";
		pinctrl-0 = <&GPMC_A4_default_pin>;
		pinctrl-1 = <&GPMC_A4_gpio_pin>;
		pinctrl-2 = <&GPMC_A4_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_A4_gpio_pd_pin>;
		pinctrl-4 = <&GPMC_A4_eqep_pin>;
	};

	/* GPMC_CSN3 (ZCZ ball T13) */
	GPMC_CSN3_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd";
		pinctrl-0 = <&GPMC_CSN3_default_pin>;
		pinctrl-1 = <&GPMC_CSN3_gpio_pin>;
		pinctrl-2 = <&GPMC_CSN3_gpio_pu_pin>;
		pinctrl-3 = <&GPMC_CSN3_gpio_pd_pin>;
	};

	/* UART0_RTSN (ZCZ ball E17) spi */
	UART0_RTSN_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "spi", "spi_cs", "uart", "can", "i2c";
		pinctrl-0 = <&UART0_RTSN_default_pin>;
		pinctrl-1 = <&UART0_RTSN_gpio_pin>;
		pinctrl-2 = <&UART0_RTSN_gpio_pu_pin>;
		pinctrl-3 = <&UART0_RTSN_gpio_pd_pin>;
		pinctrl-4 = <&UART0_RTSN_spi_pin>;
		pinctrl-5 = <&UART0_RTSN_spi_cs_pin>;
		pinctrl-6 = <&UART0_RTSN_uart_pin>;
		pinctrl-7 = <&UART0_RTSN_can_pin>;
		pinctrl-8 = <&UART0_RTSN_i2c_pin>;
	};

	/* UART0_CTSN (ZCZ ball E18) spi */
	UART0_CTSN_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "spi", "uart", "can", "i2c";
		pinctrl-0 = <&UART0_CTSN_default_pin>;
		pinctrl-1 = <&UART0_CTSN_gpio_pin>;
		pinctrl-2 = <&UART0_CTSN_gpio_pu_pin>;
		pinctrl-3 = <&UART0_CTSN_gpio_pd_pin>;
		pinctrl-4 = <&UART0_CTSN_spi_pin>;
		pinctrl-5 = <&UART0_CTSN_uart_pin>;
		pinctrl-6 = <&UART0_CTSN_can_pin>;
		pinctrl-7 = <&UART0_CTSN_i2c_pin>;
	};

	/* XDMA_EVENT_INTR0 (ZCZ ball A15) spi_cs */
	XDMA_EVENT_INTR0_pinmux {
		compatible = "bone-pinmux-helper";
		status = "okay";
		pinctrl-names = "default", "gpio", "gpio_pu", "gpio_pd", "spi_cs", "pruin";
		pinctrl-0 = <&XDMA_EVENT_INTR0_default_pin>;
		pinctrl-1 = <&XDMA_EVENT_INTR0_gpio_pin>;
		pinctrl-2 = <&XDMA_EVENT_INTR0_gpio_pu_pin>;
		pinctrl-3 = <&XDMA_EVENT_INTR0_gpio_pd_pin>;
		pinctrl-4 = <&XDMA_EVENT_INTR0_spi_cs_pin>;
		pinctrl-5 = <&XDMA_EVENT_INTR0_pruin_pin>;
	};	
};
